<div id="content">

  <!-- row -->
  <div class="row">

    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      <h1 class="page-title txt-color-blueDark">

        <!-- PAGE HEADER -->
        <i class="fa-fw fa fa-bullhorn"></i>
        Message

      </h1>
    </div>
    <!-- end col -->

  </div>
  <!-- end row -->


  <!-- widget grid -->
  <well>

    <!-- row -->

        <h3><%= @message.subject %></h3>
        <div><%= @message.body unless @message.body.nil? %></div>

        <p>
        <div class='font-sm'><i>Posted by <%= @message.member.user.name %> <%= time_ago_in_words(@message.created_at) %> (<%= @message.created_at.strftime("%m/%d/%Y %I:%M %P") %>)</i></div>
        </p>
    <!-- end row -->

  </well>
  <!-- end widget grid -->

</div>

<%= render :partial => '/projects/scripts' %>

<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

    })

</script>


