<%= form_for [@project, @milestone], :html => {:class => 'form-horizontal'} do |f| %>
    <% if @milestone.errors.any? %>
        <div id="error_explanation" class='alert alert-error'>
          <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
          <h4>Ooops, <%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h4>

          <ul>
            <% @milestone.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

        <script type="text/javascript">
            $(function () {
                $('#milestone_title_controlGroup').addClass('error');
            });
        </script>

    <% else %>

        <script type="text/javascript">
            $(function () {
                $('#milestone_title').focus();
            });
        </script>

    <% end %>

    <div class="control-group" id='milestone_title_controlGroup'>
      <label class="control-label" for="milestone_title">Milestone</label>

      <div class="controls">
        <input type="text" id="milestone_title" name='milestone[title]' placeholder="enter the milestone name" value='<%= @milestone.title %>'  class='span8' style='font-size:2em; height:40px;'>
      </div>
    </div>

    <div class="control-group" id='milestone_start_controlGroup'>
      <label class="control-label" for="milestone_start">Start Date</label>
        <div class="controls date">
            <span class='input-icon input-icon-right'>
                <input class="date-picker" id="milestone_start" name='milestone[start]' type="text" data-date-format="mm/dd/yyyy" value='<%= @milestone.start.strftime("%m/%d/%Y") unless @milestone.start.nil? %>'>
                <i class="icon-calendar"></i>
            </span>
        </div>
    </div>

    <div class="control-group" id='milestone_end_controlGroup'>
      <label class="control-label" for="milestone_end">End Date</label>
      <div class="controls date">
            <span class='input-icon input-icon-right'>
                <input class="date-picker" id="milestone_end" name='milestone[end]' type="text" data-date-format="mm/dd/yyyy" value='<%= @milestone.end.strftime("%m/%d/%Y") unless @milestone.end.nil? %>'>
                <i class="icon-calendar"></i>
            </span>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="milestone_color">Color</label>

      <div class="controls">
        <%= select('milestone', 'cssclass', [['None', 0], ['Daily', 1], ['Weekly', 2], ['Every 2 weeks', 3]], {}, {'data-placeholder' => 'Repeats...'}) %>
      </div>
    </div>


   <div class="form-actions">
      <button type='submit' class='btn btn-success'><i class="icon-ok"></i> Save</button>
      <a href='/projects/<%= @project.id.to_s %>/milestones' class='btn btn-info'><i class="icon-backward"></i> Cancel</a>
    </div>

    <script type="text/javascript">

        $(function () {
            $('.date-picker').datepicker();
        });

    </script>

<% end %>
