<!-- background colors for events
bg-color-greenLight
bg-color-red
bg-color-blue
bg-color-darken
-->


<%= form_for [@project, @milestone], :html => {:class => 'smart-form', :id => 'milestone_form'} do |f| %>
    <% if @milestone.errors.any? %>
        <div id="error_explanation" class='alert alert-error'>
          <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
          <h4>Ooops, <%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h4>

          <ul>
            <% @milestone.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

    <% end %>


    <fieldset>
      <section>
        <label class="label">Title</label>
        <label class="input">
          <input class='input-lg' type="text" name="milestone[title]" placeholder="Title of the milestone..." id='milestone_title' value='<%= @milestone.title %>'>
          <b class="tooltip tooltip-bottom-left">Give your milestone a title</b> </label>
      </section>

      <div class='row'>
        <section class="col col-6">
          <label class="label">Start Date</label>
          <label class="input"> <i class="icon-append fa fa-calendar"></i>
            <input type="text" name="milestone[start]" id="milestone_start" placeholder="Start date..." value='<%= @milestone.start.strftime("%m/%d/%Y") unless @milestone.start.nil? %>'>
          </label>
        </section>

        <section class="col col-6">
          <label class="label">End Date</label>
          <label class="input"> <i class="icon-append fa fa-calendar"></i>
            <input type="text" name="milestone[end]" id="milestone_end" placeholder="End date..." value='<%= @milestone.end.strftime("%m/%d/%Y") unless @milestone.end.nil? %>'>
          </label>
        </section>

      </div>

    </fieldset>

    <footer>
      <button type="submit" class="btn btn-success">
        Save
      </button>
    </footer>

<% end %>

