<!-- background colors for events
bg-color-greenLight
bg-color-red
bg-color-blue
bg-color-darken
-->


<%= form_for [@project, @milestone], :html => {:class => 'smart-form', :id => 'milestone_form'} do |f| %>
    <% if @milestone.errors.any? %>
        <div id="error_explanation" class='alert alert-error'>
          <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
          <h4>Ooops, <%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h4>

          <ul>
            <% @milestone.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

    <% end %>


    <fieldset>
      <section>
        <label class="label">Title</label>
        <label class="input">
          <input class='input-lg' type="text" name="milestone[title]" placeholder="Add a title for this milestone..." id='milestone_title' value='<%= @milestone.title %>'>
           </label>
      </section>

      <div class='row'>
        <section class="col col-3">

          <div class="form-group">
            <label style='color:#333;'>Icon</label>

            <div class="btn-group btn-group-sm btn-group-justified" data-toggle="buttons">

              <label class="btn btn-default <%= "active" unless @milestone.icon != '' %>">
                <input type="radio" name="milestone[icon]" id="icon-0" value="" <%= "checked" unless @milestone.icon != '' %>>
                 </label>

              <label class="btn btn-default <%= "active" unless @milestone.icon != 'fa-info' %>">
                <input type="radio" name="milestone[icon]" id="icon-1" value="fa-info" <%= "active" unless @milestone.icon != 'fa-info' %>>
                <i class="fa fa-info text-muted"></i> </label>

              <label class="btn btn-default <%= "active" unless @milestone.icon != 'fa-warning' %>">
                <input type="radio" name="milestone[icon]" id="icon-2" value="fa-warning" <%= "active" unless @milestone.icon != 'fa-warning' %>>
                <i class="fa fa-warning text-muted"></i> </label>

              <label class="btn btn-default <%= "active" unless @milestone.icon != 'fa-check' %>">
                <input type="radio" name="milestone[icon]" id="icon-3" value="fa-check" <%= "active" unless @milestone.icon != 'fa-check' %>>
                <i class="fa fa-check text-muted"></i> </label>

              <label class="btn btn-default <%= "active" unless @milestone.icon != 'fa-user' %>">
                <input type="radio" name="milestone[icon]" id="icon-4" value="fa-user" <%= "active" unless @milestone.icon != 'fa-user' %>>
                <i class="fa fa-user text-muted"></i> </label>

              <label class="btn btn-default <%= "active" unless @milestone.icon != 'fa-lock' %>">
                <input type="radio" name="milestone[icon]" id="icon-5" value="fa-lock" <%= "active" unless @milestone.icon != 'fa-lock' %>>
                <i class="fa fa-lock text-muted"></i> </label>

              <label class="btn btn-default <%= "active" unless @milestone.icon != 'fa-clock-o' %>">
                <input type="radio" name="milestone[icon]" id="icon-6" value="fa-clock-o" <%= "active" unless @milestone.icon != 'fa-clock-o' %>>
                <i class="fa fa-clock-o text-muted"></i> </label>

            </div>
          </div>
        </section>

        <section class="col col-3">
          <div class="form-group">
            <label style='color:#333;'>Priority</label>

            <div class="btn-group btn-group-justified btn-select-tick" data-toggle="buttons" style='height:30px;'>

              <label class="btn bg-color-darken <%= "active" unless @milestone.class_name != 'bg-color-darken txt-color-white' %>">
                <input type="radio" name="milestone[class_name]" id="option1" value="bg-color-darken txt-color-white" <%= "checked" unless @milestone.class_name != 'bg-color-darken txt-color-white' %> >
                <i class="fa fa-check txt-color-white"></i> </label>

              <label class="btn bg-color-blue <%= "active" unless @milestone.class_name != 'bg-color-blue txt-color-white' %>">
                <input type="radio" name="milestone[class_name]" id="option2" value="bg-color-blue txt-color-white" <%= "checked" unless @milestone.class_name != 'bg-color-blue txt-color-white' %> >
                <i class="fa fa-check txt-color-white"></i> </label>

              <label class="btn bg-color-orange <%= "active" unless @milestone.class_name != 'bg-color-orange txt-color-white' %>">
                <input type="radio" name="milestone[class_name]" id="option3" value="bg-color-orange txt-color-white" <%= "checked" unless @milestone.class_name != 'bg-color-orange txt-color-white' %> >
                <i class="fa fa-check txt-color-white"></i> </label>

              <label class="btn bg-color-greenLight <%= "active" unless @milestone.class_name != 'bg-color-greenLight txt-color-white' %>">
                <input type="radio" name="milestone[class_name]" id="option4" value="bg-color-greenLight txt-color-white" <%= "checked" unless @milestone.class_name != 'bg-color-greenLight txt-color-white' %> >
                <i class="fa fa-check txt-color-white"></i> </label>

              <label class="btn bg-color-blueLight <%= "active" unless @milestone.class_name != 'bg-color-blueLight txt-color-white' %>">
                <input type="radio" name="milestone[class_name]" id="option5" value="bg-color-blueLight txt-color-white" <%= "checked" unless @milestone.class_name != 'bg-color-blueLight txt-color-white' %> >
                <i class="fa fa-check txt-color-white"></i> </label>

              <label class="btn bg-color-red <%= "active" unless @milestone.class_name != 'bg-color-red txt-color-white' %>">
                <input type="radio" name="milestone[class_name]" id="option6" value="bg-color-red txt-color-white" <%= "checked" unless @milestone.class_name != 'bg-color-red txt-color-white' %> >
                <i class="fa fa-check txt-color-white"></i> </label>

            </div>
          </div>
        </section>
        </div>

      <div class='row'>
        <section class="col col-6">
          <label class="label">Start Date</label>
          <label class="input"> <i class="icon-append fa fa-calendar"></i>
            <input type="text" name="milestone[start]" id="milestone_start" placeholder="Start date..." value='<%= @milestone.start.strftime("%m/%d/%Y") unless @milestone.start.nil? %>'>
          </label>
        </section>

        <section class="col col-6">
          <label class="label">End Date <i>(Optional)</i></label>
          <label class="input"> <i class="icon-append fa fa-calendar"></i>
            <input type="text" name="milestone[end]" id="milestone_end" placeholder="End date..." value='<%= @milestone.end.strftime("%m/%d/%Y") unless @milestone.end.nil? %>'>
          </label>
        </section>
      </div>

      <div class='row'>
        <section class="col col-6">
            <label class="label">Start Time <i>(Optional)</i></label>
            <label class="input"> <i class="icon-append fa fa-clock-o"></i>
              <input type="text" name="milestone[start_time]" id="milestone_start_time" placeholder="Start time..." value='<%= @milestone.start_time.strftime("%H:%M") unless @milestone.start_time.nil? %>'>
            </label>
        </section>

        <section class="col col-6">
          <label class="label">End Time <i>(Optional)</i></label>
          <label class="input"> <i class="icon-append fa fa-clock-o"></i>
            <input type="text" name="milestone[end_time]" id="milestone_end_time" placeholder="End time..." value='<%= @milestone.end_time.strftime("%H:%M") unless @milestone.end_time.nil? %>'>
          </label>
        </section>
      </div>

      <section>
        <label class="label">Description</label>
        <label class="textarea"><textarea rows="4" name="milestone[description]" id="milestone_description"><%= @milestone.description %></textarea> </label>
      </section>

    </fieldset>

    <footer>
      <button type="submit" class="btn btn-success">
        Save
      </button>
    </footer>

<% end %>

