<%= form_for [@project, @milestone], :html => {:class => 'form-horizontal well'} do |f| %>
    <% if @milestone.errors.any? %>
        <div id="error_explanation" class='alert alert-error'>
          <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
          <h4>Ooops, <%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h4>

          <ul>
            <% @milestone.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

        <script type="text/javascript">
            $(function () {
                $('#milestone_subject_controlGroup').addClass('error');
            });
        </script>

    <% else %>

        <script type="text/javascript">
            $(function () {
                $('#milestone_subject').focus();
            });
        </script>

    <% end %>

    <input type='hidden' id='target_view' name='target_view' value='<%= params[:target_view] %>' />

    <div class="control-group" id='milestone_subject_controlGroup'>
      <label class="control-label" for="milestone_name">Milestone</label>

      <div class="controls">
        <input type="text" id="milestone_subject" name='milestone[subject]' placeholder="name" value='<%= @milestone.subject %>'>
      </div>
    </div>

    <div class="control-group" id='milestone_subject_controlGroup'>
      <label class="control-label" for="milestone_event_date">Date</label>
        <div class="controls date">
            <span class='input-icon input-icon-right'>
                <input class="date-picker" id="milestone_event_date" name='milestone[event_date]' type="text" data-date-format="mm/dd/yyyy" value='<%= @milestone.event_date.strftime("%m/%d/%Y") %>'>
                <i class="icon-calendar"></i>
            </span>
        </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="milestone_points">% of Overall Project</label>

      <div class="controls">
        <div class='ace-spinner'>
          <input type="text" class="input-mini spinner-input" id="milestone_points" name='milestone[points]' maxlength="3" style="width: 30px;">
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="milestone_percent_complete">% Complete</label>

      <div class="controls">
        <div class='ace-spinner'>
          <input type="text" class="input-mini spinner-input" id="milestone_percent_complete" name='milestone[percent_complete]' maxlength="3" style="width: 30px;">
        </div>
        <% if !@milestone.id.nil? %>
            &nbsp;&nbsp;&nbsp;<a href='javascript:showReCalc();'>(Re-)Calculate from my tasks</a>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <button type='submit' class='btn btn-success'><i class="icon-ok"></i> Save</button>
      <a href='javascript:window.history.back();' class='btn btn-info'><i class="icon-backward"></i> Cancel</a>
    </div>

    <script type="text/javascript">

        function showReCalc()
        {
            //$("div").each(function(index, value) {
            //    console.log('div' + index + ':' + $(this).attr('id'));
            //});
            var total = 0;
            var completed = 0;
            var percent = 0;
            $('#tasks li').each(function(index, value)
            {
                //alert($(this).attr('id') + ' completed=' + $(this).attr('data-completed') + 'points=' + $(this).attr('data-points'));
                total += parseInt($(this).attr('data-points'));
                if ($(this).attr('data-completed'))
                    completed += parseInt($(this).attr('data-points'));
            });
            //alert('total=' + total + '    completed=' + completed);
            if (total > 0)
                percent = ((completed / total) * 100).toFixed(0);
            //alert('percent=' + percent);
            $('#milestone_percent_complete').val(percent);
        }


        $(function () {
            $('#milestone_percent_complete').ace_spinner({value: 0, min: 0, max: 100, step: 5, btn_up_class: 'btn-info', btn_down_class: 'btn-info'});
            $('#milestone_points').ace_spinner({value: 0, min: 0, max: 100, step: 5, btn_up_class: 'btn-info', btn_down_class: 'btn-info'});
            $('#milestone_percent_complete').val('<%= @milestone.percent_complete %>');
            $('#milestone_points').val('<%= @milestone.points %>');

            $(".chzn-select").chosen();
        });

    </script>

<% end %>
