<div id="content">

  <!-- row -->
  <div class="row">

    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      <h1 class="page-title txt-color-blueDark">

        <!-- PAGE HEADER -->
        <i class="fa-fw fa fa-calendar"></i>
        Edit Milestone

      </h1>
    </div>
    <!-- end col -->

  </div>
  <!-- end row -->


  <!-- widget grid -->
  <well>

    <!-- row -->

    <div class="row" style='background-color: #fff;'>

      <div class="widget-body">

        <%= render 'form' %>

      </div>

    </div>

    <!-- end row -->

  </well>
  <!-- end widget grid -->


  <p> </p>
  <a href="/projects/<%= @project.id %>/milestones/<%= @milestone.id %>"
     class="btn btn-danger"
     data-confirm="Are you sure you want to delete <%= @milestone.title.truncate(50) %>?"
     data-method="delete"
     title="Delete">
    Delete this milestone
  </a>

</div>

<%= render :partial => '/projects/scripts' %>
<script src="/SmartAdmin/js/plugin/clockpicker/clockpicker.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

        $('#milestone_start').datepicker({
            dateFormat : 'mm/dd/yy',
            prevText : '<i class="fa fa-chevron-left"></i>',
            nextText : '<i class="fa fa-chevron-right"></i>'
        });

        $('#milestone_end').datepicker({
            dateFormat : 'mm/dd/yy',
            prevText : '<i class="fa fa-chevron-left"></i>',
            nextText : '<i class="fa fa-chevron-right"></i>'
        });

        $('#milestone_start_time').clockpicker({
            placement: 'top',
            donetext: 'Done'
        });

        $('#milestone_end_time').clockpicker({
            placement: 'top',
            donetext: 'Done'
        });

        <% if @milestone.start_time.nil? %>
            $('#milestone_start_time').val('');
            $('#milestone_end_time').val('');
        <% end %>

        var allDay = <%= @milestone.all_day? %>;
        if (allDay)
        {
            $('#milestone_all_day').prop('checked', 'checked');
        }
        else
        {
            $('#milestone_all_day').removeProp('checked');
        }

        $('#milestone_title').focus();

        var $milestoneForm = $("#milestone_form").validate({

            // Rules for form validation
            rules: {
                'milestone[title]': {
                    required: true,
                    minlength: 3
                },
                'milestone[start]': {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                'milestone[title]': {
                    required: 'Please enter a short name for your milestone'
                },
                'milestone[start]': {
                    required: 'Please enter at least a starting date for your milestone'
                }
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

    })

</script>


<!-- Your GOOGLE ANALYTICS CODE Below -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
