<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">


      <a class="brand" href="#">
        <small><i class="icon-check"></i> HuddleUp</small>
      </a>

      <%= render :partial => '/projects/top_nav', :locals => {:post => 'hello'} %>

    </div>
    <!--/.container-fluid-->
  </div>
  <!--/.navbar-inner-->
</div>


<div class="container-fluid" id="main-container">
  <a href="#" id="menu-toggler"><span></span></a><!-- menu toggler -->

  <%= render :partial => '/projects/side_nav_1', :locals => {:component => 'milestones', :project_id => @project.id} %>

  <div id="main-content" class="clearfix">

    <div id="breadcrumbs">
      <ul class="breadcrumb">
        <li><i class="icon-home"></i> <a href="/projects">Home</a><span class="divider"><i class="icon-angle-right"></i></span>
        </li>
        <li><a href="/projects">Projects</a><span class="divider"><i class="icon-angle-right"></i></span></li>
        <li>
          <a href='/projects/<%= @project.id %>'><%= @project.name %></a><span class="divider"><i class="icon-angle-right"></i></span>
        </li>
        <li>
          <a href='/projects/<%= @project.id %>/milestones'>Milestones</a><span class="divider"><i class="icon-angle-right"></i></span>
        </li>
        <li class="active"><%= @milestone.subject %></li>
      </ul>
      <!--.breadcrumb-->

      <div id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input autocomplete="off" id="nav-search-input" type="text" class="input-small search-query" placeholder="Search ..."/>
                <i id="nav-search-icon" class="icon-search"></i>
            </span>
        </form>
      </div>
      <!--#nav-search-->
    </div>
    <!--#breadcrumbs-->

    <div id="page-content" class="clearfix">

      <div class="page-header position-relative">
        <h1><i class="icon-calendar"></i> <%= @milestone.subject %> of <i><%= @project.name %></i></h1>
      </div>
      <!--/page-header-->


      <div class="row-fluid">

        <!-- PAGE CONTENT BEGINS HERE -->

        <div class="span6">
          <%= render 'form' %>
        </div>

        <div class="span6">
          <div class="widget-box ">
            <div class="widget-header widget-header-large">
              <h4 class="lighter smaller"> Associated Tasks</h4>

              <div class="widget-toolbar no-border">
                <span class="badge badge-success">
                    <a href='#'>Add a task</a>
                </span>
              </div>
            </div>

            <div class="widget-body">
              <div class="widget-main padding-5">
                <div class="tab-content padding-8">
                  <div id="milestones-gadget" class="tab-pane active">

                    <% if flash[:notice] %>
                        <div class='alert alert-block alert-success'>
                          <button type="button" class="close" data-dismiss="alert">
                            <i class="icon-remove"></i></button>
                          <strong><i class="icon-ok"></i> <%= flash[:notice] %></strong>
                        </div>
                    <% end %>


                    <div id="tasks-tab" class="tab-pane active">
                      <div class="clearfix">

                        <ul id="tasks" class="item-list">

                          <% @milestone.tasks.order('position').each do |task| %>

                              <li class="<%= get_item_color(task) %> clearfix task" data-pk='<%= task.id %>' data-completed="<%= task.is_complete %>" id="task_<%= task.id %>">
                                <label class="inline"><input id="chk_<%= task.id %>" type="checkbox" data-completed="<%= task.is_complete %>"/>
                                  <span class="lbl"> <%= task.subject %> &nbsp;&nbsp;
                                    <span class="badge badge-light"><%= task.points %> point(s)</span>
                                  </span>
                                </label>

                                <div class="inline pull-right position-relative">

                                  <a href="/projects/<%= @project.id %>/milestones/<%= @milestone.id %>/tasks/<%= task.id %>" class="tooltip-error" data-confirm="Are you sure you want to delete <%= task.subject %>?" data-method="delete" data-placement="left" data-rel="tooltip" rel="nofollow" title="Delete">
                                    <span class='red'><i class='icon-trash'></i></span>
                                  </a> |
                                  <a href="/projects/<%= @project.id %>/milestones/<%= @milestone.id %>/tasks/<%= task.id %>/edit?target_view=edit" class="tooltip-edit" data-rel="tooltip" title="Edit" data-placement="left"><span class="blue"><i class="icon-edit"></i></span></a>

                                </div>
                              </li>

                          <% end %>

                        </ul>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <!-- END -->

        </div>

      </div>
      <!--/row-->

    </div>
    <!--/#page-content-->


  </div>
  <!-- #main-content -->


</div>
<!--/.fluid-container#main-container-->


<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
  <i class="icon-double-angle-up icon-only"></i>
</a>


<!-- inline scripts related to this page -->

<script type="text/javascript">

    $(function () {

        $('.dialogs,.comments').slimScroll({
            height: '300px'
        });

        $('.date-picker').datepicker();

        $(".chzn-select").chosen();

        var oldie = $.browser.msie && $.browser.version < 9;

        var $tooltip = $("<div class='tooltip top in' style='display:none;'><div class='tooltip-inner'></div></div>").appendTo('body');
        $('[data-rel="tooltip"]').tooltip();

        $('#tasks').sortable({
            axis: 'y',
            items: 'li',
            update: function () {
                $.ajax({
                    type: 'post',
                    data: $('#tasks').sortable('serialize'),
                    dataType: 'script',
                    complete: function (request) {
                        $('#tasks').effect('highlight');
                    },
                    url: '/projects/<%= @project.id %>/milestones/<%= @milestone.id %>/tasks/sort'})
            }
        });

        $('#tasks').disableSelection();

    });


</script>
