<div class="row">

  <!-- col -->
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <!-- PAGE HEADER -->
      <i class="fa-fw fa fa-calendar"></i>
      Milestones
    </h1>
  </div>
  <!-- end col -->

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5 pull-right">
    <!-- Button trigger modal -->
    <%= link_to 'Create a new milestone', new_project_milestone_path(@project), :class => 'btn btn-success btn-lg pull-right header-btn' %>
  </div>

</div>


<div class="row">


  <div class="col-sm-12 col-md-12 col-lg-12">

    <!-- new widget -->
    <div class="jarviswidget jarviswidget-color-blueDark">

      <header>
        <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>

        <h2> See Milestones and Events </h2>

        <div class="widget-toolbar">
          <!-- add: non-hidden - to disable auto hide -->
          <div class="btn-group">
            <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
              Showing <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu js-status-update pull-right">
              <li>
                <a href="javascript:void(0);" id="mt">Month</a>
              </li>
              <li>
                <a href="javascript:void(0);" id="ag">Week</a>
              </li>
              <li>
                <a href="javascript:void(0);" id="td">Today</a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <!-- widget div-->
      <div>

        <div class="widget-body no-padding">
          <!-- content goes here -->
          <div class="widget-body-toolbar">

            <div id="calendar-buttons">

              <div class="btn-group">
                <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div id="calendar"></div>

          <!-- end content -->
        </div>

      </div>
      <!-- end widget div -->
    </div>
    <!-- end widget -->

  </div>

</div>

<%= render :partial => '/projects/scripts' %>
<!-- Full Calendar -->
<script src="/SmartAdmin/js/plugin/fullcalendar/jquery.fullcalendar.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

        "use strict";

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var hdr = {
            left: 'title',
            center: 'month,agendaWeek,agendaDay',
            right: 'prev,today,next'
        };

        var calendarViewName = $.cookie('calendarView');
        if (calendarViewName == null)
            calendarViewName = 'agendaWeek';
        //console.log('calendarViewName=' + calendarViewName);

        /* initialize the calendar
         -----------------------------------------------------------------*/

        $('#calendar').fullCalendar({

            header: hdr,
            buttonText: {
                prev: '<i class="fa fa-chevron-left"></i>',
                next: '<i class="fa fa-chevron-right"></i>'
            },

            defaultView: calendarViewName,
            viewDisplay: function( view )
            {
                //save your cookie here, it's triggered each time the view changes
                //console.log('changing view name to... ');
                //console.log(view.name);
                $.cookie('calendarView', view.name);
            },

            events: [
                <% @milestones.each do |m| %>
                   {"all_day":<%= m.all_day? %>,
                    "id":<%= m.id %>,
                    "project_id":<%= m.project_id %>,
                    "start": new Date(<%= m.start.strftime("%Y") %>, <%= m.start.strftime("%m") %>-1, <%= m.start.strftime("%d") %>
                                <%= ", " + m.start_time.strftime("%H,%M") unless m.start_time.nil? %>  ),

                    <% if !m.end.nil? %>
                       "end": new Date(<%= m.end.strftime("%Y") %>, <%= m.end.strftime("%m") %>-1, <%= m.end.strftime("%d") %>
                               <%= ", " + m.end_time.strftime("%H,%M") unless m.end_time.nil? %>  ),
                    <% end %>

                    'allDay':<%= m.all_day? %>,
                    "title": "<%= m.title %>",
                    "description": "<%= m.description %>",
                    "className":"<%= m.class_name %>",
                    "icon": "<%= m.icon %>"},
                <% end %>
            ],

            eventRender: function (event, element, icon) {
                if (!event.description == "") {
                    element.find('.fc-event-title').append("<br/><span class='ultra-light'>" + event.description +
                            "</span>");
                }
                if (!event.icon == "") {
                    element.find('.fc-event-title').append("<i class='air air-top-right fa " + event.icon +
                            " '></i>");
                }
            },

            eventClick: function (event) {
                // opens events in a popup window
                // alert(event.id);
                window.location.href = '/projects/<%= @project.id %>/milestones/' + event.id + '/edit';
                return false;
            },

            windowResize: function (event, ui) {
                $('#calendar').fullCalendar('render');
            }
        });

        /* hide default buttons */
        $('.fc-header-right, .fc-header-center').hide();


        $('#calendar-buttons #btn-prev').click(function () {
            $('.fc-button-prev').click();
            return false;
        });

        $('#calendar-buttons #btn-next').click(function () {
            $('.fc-button-next').click();
            return false;
        });

        $('#calendar-buttons #btn-today').click(function () {
            $('.fc-button-today').click();
            return false;
        });

        $('#mt').click(function () {
            $('#calendar').fullCalendar('changeView', 'month');
        });

        $('#ag').click(function () {
            $('#calendar').fullCalendar('changeView', 'agendaWeek');
        });

        $('#td').click(function () {
            $('#calendar').fullCalendar('changeView', 'agendaDay');
        });


    });

</script>