<div class="row">

  <!-- col -->
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <!-- PAGE HEADER -->
      <i class="fa-fw fa fa-calendar"></i>
      Milestones
    </h1>
  </div>
  <!-- end col -->

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5 pull-right">
    <!-- Button trigger modal -->
    <%= link_to 'Create a new milestone', new_project_milestone_path(@project), :class=>'btn btn-success btn-lg pull-right header-btn hidden-mobile' %>
  </div>

</div>

<div class="well">

    <div class="widget-body no-padding">
      <div id="calendar"></div>
    </div>

</div>

<%= render :partial => '/projects/scripts' %>
<!-- Full Calendar -->
<script src="/SmartAdmin/js/plugin/fullcalendar/jquery.fullcalendar.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

        if ($("#calendar").length) {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            var calendar = $('#calendar').fullCalendar({

                editable: true,
                //draggable: true,
                selectable: false,
                selectHelper: true,
                unselectAuto: false,
                disableResizing: false,

                header: {
                    left: 'title', //,today
                    center: 'prev, next, today',
                    right: 'month, agendaWeek, agendaDay' //month, agendaDay,
                },

                events: [
                    <% @milestones.each do |m| %>
                        {"all_day":<%= m.all_day? %>,
                        "className":"<%= m.class_name %>",
                        "end":"<%= m.end %>",
                        "id":<%= m.id %>,
                        "project_id":<%= m.project_id %>,
                        "start":"<%= m.start %>",
                        "title":"<%= m.title %>" },
                    <% end %>
                    ],

                eventRender : function(event, element, icon) {
                    if (!event.description == "") {
                        element.find('.fc-event-title').append("<br/><span class='ultra-light'>" + event.description + "</span>");
                    }
                    if (!event.icon == "") {
                        element.find('.fc-event-title').append("<i class='air air-top-right fa " + event.icon + " '></i>");
                    }
                },

                eventClick: function(event) {
                    // opens events in a popup window
                    // alert(event.id);
                    window.location.href = '/projects/<%= @project.id %>/milestones/' + event.id + '/edit';
                    return false;
                }

            });

        };



    });

</script>