<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">


      <a class="brand" href="#">
        <small><i class="icon-check"></i> HuddleUp</small>
      </a>

      <%= render :partial => '/projects/top_nav', :locals => {:post => 'hello'} %>

    </div>
    <!--/.container-fluid-->
  </div>
  <!--/.navbar-inner-->
</div>


<div class="container-fluid" id="main-container">
  <a href="#" id="menu-toggler"><span></span></a><!-- menu toggler -->

  <%= render :partial => '/projects/side_nav_1', :locals => {:component => 'milestones', :project_id => @project.id} %>

  <div id="main-content" class="clearfix">

    <% crumbs = [['Projects', projects_path],
                 [@project.name, project_path(@project)],
                 ['Milestones', project_milestones_path(@project)]] %>

    <%= render :partial => '/projects/breadcrumbs', :locals => {:crumbs => crumbs, :title => @milestone.subject} %>

    <div id="page-content" class="clearfix">

      <div class="page-header position-relative">
        <h1>
            <i class="icon-calendar"></i> <%= @milestone.subject %> <small><i class='icon-double-angle-right'> Milestone in <%= @project.name %></i>
                <i class='icon-double-angle-right'> <a href="/projects/<%= @project.id %>/milestones/<%= @milestone.id %>/edit">Edit this milestone's definition</a></i>
            </small>
        </h1>
      </div>
      <!--/page-header-->


      <div class="row-fluid">

        <!-- PAGE CONTENT BEGINS HERE -->

        <div class="span6">
          <div class="widget-box">
            <div class="widget-header widget-header-large">
              <h4>Milestone Details</h4>
            </div>

            <div class="widget-body">
              <div class="widget-main">
                <div class="alert alert-info">
                  <table>
                    <tr>
                      <td style='width:33%; padding-bottom: 20px;'>Subject:</td>
                      <td style='width:67%; padding-bottom: 20px;'><%= @milestone.subject %></td>
                    </tr>
                    <tr>
                      <td style='padding-bottom: 20px;'>Date:</td>
                      <td style='padding-bottom: 20px;'><%= @milestone.event_date.strftime('%m/%d/%Y') %></td>
                    </tr>
                    <tr>
                      <td style='padding-bottom: 20px;'>Progress:</td>
                      <td style='padding-bottom: 20px;'><%= @milestone.percent_complete %>%</td>
                    </tr>
                    <tr>
                      <td style='padding-bottom: 20px;'>Size:</td>
                      <td style='padding-bottom: 20px;'><%= @milestone.total_points %> points</td>
                    </tr>
                    <tr>
                      <td>Calculated:</td>
                      <td><%= number_to_percentage(@milestone.calculated_percent_complete, :precision => 0) %>, according to completed tasks</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="span6">
          <div class="widget-box ">
            <div class="widget-header widget-header-large">
              <h4 class="lighter smaller"> Associated Tasks</h4>

              <div class="widget-toolbar no-border">
                <a class='btn btn-small btn-success' href="#modal-add-form" role="button" data-toggle="modal">Add a new task</a>
              </div>
            </div>

            <div class="widget-body">
              <div class="widget-main padding-5">
                <div class="tab-content padding-8">
                  <div id="milestones-gadget" class="tab-pane active">

                    <% if flash[:notice] %>
                        <div class='alert alert-block alert-success'>
                          <button type="button" class="close" data-dismiss="alert">
                            <i class="icon-remove"></i></button>
                          <strong><i class="icon-ok"></i> <%= flash[:notice] %></strong>
                        </div>
                    <% end %>


                    <div id="tasks-tab" class="tab-pane active">
                      <div class="clearfix">

                        <ul id="tasks" class="item-list">

                          <% @milestone.tasks.order('position').each do |task| %>

                              <li class="<%= get_item_color(task) %> clearfix task" data-pk='<%= task.id %>' data-completed="<%= task.is_complete %>" id="task_<%= task.id %>">
                                <label class="inline"><input id="chk_<%= task.id %>" type="checkbox" data-completed="<%= task.is_complete %>"/>
                                  <span class="lbl"> <%= task.subject %> &nbsp;&nbsp;
                                    <br />
                                    <span class="badge badge-light"><%= task.points %> point(s)</span>
                                    <span class="label label-large label-light"><%= task.member.user.name unless task.member.nil? %></span>
                                  </span>
                                </label>

                                <div class="inline pull-right position-relative">

                                  <a href="/projects/<%= @project.id %>/milestones/<%= @milestone.id %>/tasks/<%= task.id %>"
                                     class="btn btn-mini btn-danger"
                                     data-confirm="Are you sure you want to delete <%= task.subject %>?"
                                     data-method="delete"
                                     data-placement="left"
                                     data-rel="tooltip"
                                     rel="nofollow"
                                     title="Delete">
                                    <span><i class='icon-trash'></i></span>
                                  </a>
                                  &nbsp;
                                  <a class='btn btn-mini btn-info icon-edit' data-placement="left"
                                     data-rel="tooltip"
                                     title='Edit'
                                     href="#modal-form-<%= task.id %>" role="button" data-toggle="modal"></a>

                                </div>
                              </li>

                          <% end %>

                        </ul>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>


          <div id="modal-add-form" class="modal hide" tabindex="-1">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="blue bigger">Add a new task</h4>
            </div>

            <div class="modal-body overflow-visible">
              <div class="row-fluid">

                <%=  render 'tasks/form' %>

              </div>
            </div>

            <div class="modal-footer">
              <button class="btn btn-small" data-dismiss="modal">
                <i class="icon-remove"></i>
                Cancel
              </button>

              <button class="btn btn-small btn-primary" onclick="javascript:$('#new_task').submit();">
                <i class="icon-ok"></i>
                Save
              </button>
            </div>
          </div>

          <% @milestone.tasks.each do |task| %>
              <div id="modal-form-<%= task.id %>" class="modal hide" tabindex="-1">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="blue bigger"><%= task.subject %></h4>
                </div>

                <div class="modal-body overflow-visible">
                  <div class="row-fluid">

                    <% @task = task %>
                    <%=  render 'tasks/form' %>

                  </div>
                </div>

                <div class="modal-footer">
                  <button class="btn btn-small" data-dismiss="modal">
                    <i class="icon-remove"></i>
                    Cancel
                  </button>

                  <button class="btn btn-small btn-primary" onclick="javascript:$('#edit_task_<%= task.id %>').submit();">
                    <i class="icon-ok"></i>
                    Save
                  </button>
                </div>
              </div>
          <% end  %>

          <!-- END -->

        </div>

      </div>
      <!--/row-->

    </div>
    <!--/#page-content-->

  </div>
  <!-- #main-content -->


</div>
<!--/.fluid-container#main-container-->


<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
  <i class="icon-double-angle-up icon-only"></i>
</a>


<!-- inline scripts related to this page -->

<script type="text/javascript" src="/assets/js/spin.min.js"></script>
<script type="text/javascript">

    $(function () {

        $('.dialogs,.comments').slimScroll({
            height: '300px'
        });

        $('.date-picker').datepicker();

        $(".chzn-select").chosen();

        var oldie = $.browser.msie && $.browser.version < 9;

        var $tooltip = $("<div class='tooltip top in' style='display:none;'><div class='tooltip-inner'></div></div>").appendTo('body');
        $('[data-rel="tooltip"]').tooltip();

        var opts = {
            lines: 13, // The number of lines to draw
            length: 20, // The length of each line
            width: 10, // The line thickness
            radius: 30, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: 'auto', // Top position relative to parent in px
            left: 'auto' // Left position relative to parent in px
        };

        $('#tasks').sortable({
            axis: 'y',
            items: 'li',
            update: function () {
                $.ajax({
                    type: 'post',
                    data: $('#tasks').sortable('serialize'),
                    dataType: 'script',
                    complete: function (request) {
                        $('#tasks').effect('highlight');
                    },
                    url: '/projects/<%= @project.id %>/milestones/<%= @milestone.id %>/tasks/sort'})
            }
        });

        $('#tasks').disableSelection();

        var opts = {
            lines: 13, // The number of lines to draw
            length: 20, // The length of each line
            width: 10, // The line thickness
            radius: 30, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: 'auto', // Top position relative to parent in px
            left: 'auto' // Left position relative to parent in px
        };

        $('#tasks input:checkbox').removeAttr('checked').on('click', function () {
            var target = document.getElementById('tasks');
            var spinner = new Spinner(opts).spin(target);

            var id = $(this).closest('li').attr('data-pk');
            var done = ($(this).closest('li').attr('data-completed') == "true");
            if (done)
            {
                //alert('marking incomplete');
                window.location.href='/projects/<%= @project.id %>/milestones/<%= @milestone.id %>/tasks/mark_incomplete/' + id;
            }
            else
            {
                //alert('marking complete');
                window.location.href='/projects/<%= @project.id %>/milestones/<%= @milestone.id %>/tasks/mark_complete/' + id;
            }
        });

        $('.task').each(function () {
            var done = ($(this).attr('data-completed') == "true");
            var pk = $(this).attr('data-pk');
            if (done) {
                $(this).addClass('selected');
                $('#chk_' + pk).attr('checked', true);  //WORKS!
                //$(this).find('input:checkbox').attr('checked', true);
            }
        });

    });


</script>
