<div id="content" class="container">

  <div class="row col-xs-12 col-sm-12 col-md-5 col-lg-12">

    <div class='col col-lg-4'>&nbsp;</div>
    <div class='col col-lg-4'>
      <div class='well '>

        <h1>Welcome to HuddleUp! <br/>Registration will be easy!</h1>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'smart-form', :id => 'registration_form'}) do |f| %>

            <%= devise_error_messages! %>

            <%= display_base_errors resource %>

            <input type='hidden' name='user[plan]' id='user_plan' value='free' />

            <% if flash[:alert] %>
                <div class="alert alert-danger fade in" style='margin-left: 10px; margin-right: 10px; margin-top: 10px;'>
                  <button class="close" data-dismiss="alert">
                    ×
                  </button>
                  <i class="fa-fw fa fa-times"></i>
                  <strong>The following error(s) prevented this registration:</strong>
                  <ul style='margin-left:25px;'><%= flash[:alert].html_safe %></ul>
                </div>
            <% end %>

            <fieldset>

              <section>
                <label class="label">Your name</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" name='user[name]' autofocus="true" id='user_name' placeholder='i.e. John Jones' class='input-lg' autofocus="true">
                </label>
              </section>

              <section>
                <label class="label">E-mail</label>
                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                  <input type="email" name='user[email]' id='user_email' placeholder='john@example.com' class='input-lg'>
                </label>
              </section>

              <section>
                <label class="label">Password</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <%= f.password_field :password, :autocomplete=>"off", :class=>'input-lg' %>
                </label>
              </section>

              <section>
                <label class="label">Password Confirmation</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <%= f.password_field :password_confirmation, :autocomplete=>"off", :class=>'input-lg' %>
                </label>
              </section>

            </fieldset>

            <footer>
              <button type="submit" class="btn btn-primary">
                Sign me up!
              </button>
            </footer>

        <% end %>

      </div>
    </div>
    <div class='col col-lg-4'>&nbsp;</div>

  </div>
</div>

