<!-- row -->
<div class="row">

  <!-- col -->
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <!-- PAGE HEADER -->
      <i class="fa-fw fa fa-bug"></i>
      Issues
    </h1>
  </div>
  <!-- end col -->

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5 pull-right">
    <%= link_to 'Create a new issue', new_project_issue_path(@project), :class => 'btn btn-success btn-lg pull-right header-btn hidden-mobile' %>
  </div>

</div>
<!-- end row -->

<div class="col-sm-12">
  <div class="well">
    <div class="widget-body no-padding smart-form">

      <% if @issues.count == 0 %>
          None
      <% else %>
        <!-- content goes here -->
          <h5 class="todo-group-title"><i class="fa fa-exclamation"></i> Unresolved Issues (<small class="num-of-tasks"><%= @issues.where('is_resolved != true or is_resolved is null').count %></small>)
          </h5>
          <ul id="issues" class="todo">
            <% @issues.where('is_resolved != true or is_resolved is null').each do |issue| %>
                <li data-pk='<%= issue.id %>' class='issue' id="task_<%= issue.id %>">
                    <span class="handle">
                      <label class="checkbox">
                        <input type="checkbox" name="checkbox-inline">
                        <i></i> </label>
                    </span>

                  <p>
                    <strong> #<%= issue.id %></strong> - <%= issue.subject %>
                    <%= link_to '[More...]', edit_project_issue_path(@project, issue), {:class=>'font-xs'} %>

                    <% if issue.is_critical? %>
                        <span class='badge bg-color-red' style='display: inline-block;'>&nbsp;&nbsp;<i class='fa fa-warning'>&nbsp;&nbsp;</i></span>
                    <% end %>

                    <span class="text-muted"><%= "Assigned to " + issue.member.user.name + "." unless issue.member.nil? %> <%= issue.description %> </span>
                    <span class="date">Created <%= time_ago_in_words(issue.created_at) %> ago.</span>
                  </p>
                </li>
            <% end %>
          </ul>

          <h5 class="todo-group-title"><i class="fa fa-check"></i> Resolved Issues (<small class="num-of-tasks"><%= @issues.where('is_resolved=true').count %></small>)
          </h5>
          <ul id="sortable3" class="todo">
            <% @issues.where('is_resolved=true').each do |issue| %>
                <li class="complete">
                    <span class="handle" style="display:none"> <label class="checkbox state-disabled">
                      <input type="checkbox" name="checkbox-inline" checked="checked" disabled="disabled">
                      <i></i> </label> </span>

                  <p>
                    <strong> #<%= issue.id %></strong> - <%= issue.subject %>
                    <%= link_to '[More...]', edit_project_issue_path(@project, issue), {:class=>'font-xs'} %>

                    <% if issue.is_critical? %>
                        <span class='badge bg-color-grey' style='display: inline-block;'>&nbsp;&nbsp;<i class='fa fa-warning'>&nbsp;&nbsp;</i></span>
                    <% end %>

                    <span class="text-muted"><%= "Assigned to " + issue.member.user.name + "." unless issue.member.nil? %> <%= issue.description %> </span>
                    <span class="date">Created <%= time_ago_in_words(issue.created_at) %> ago.</span>
                  </p>
                </li>
            <% end %>
          </ul>

          <!-- end content -->
      <% end %>
    </div>
  </div>
</div>

<%= render :partial => '/projects/scripts' %>

<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

        // initialize sortable
        $(function () {
            $("#issues").sortable({
                handle: '.handle',
                connectWith: ".todo",
                axis: 'y',
                items: 'li',
                update: function () {
                    $.ajax({
                        type: 'post',
                        data: $('#issues').sortable('serialize'),
                        dataType: 'script',
                        complete: function (request) {
                            $('#issues').effect('highlight');
                        },
                        url: '/projects/<%= @project.id %>/issues/sort'});
                    countIssues();
                }
            }).disableSelection();
        });

        // check and uncheck
        $('.todo .checkbox > input[type="checkbox"]').click(function () {
            var $this = $(this).parent().parent().parent();

            if ($(this).prop('checked')) {
                $this.addClass("complete");

                // remove this if you want to undo a check list once checked
                //$(this).attr("disabled", true);
                $(this).parent().hide();

                // once clicked - add class, copy to memory then remove and add to sortable3
                $this.slideUp(500, function () {
                    $this.clone().prependTo("#sortable3").effect("highlight", {}, 800);
                    $this.remove();
                    countIssues();
                });

                // ajax update back to database
                var pk = $this.attr('data-pk');
                var url = '/projects/<%= @project.id %>/issues/mark_complete/' + pk;
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { _method:'PUT' },
                    success: function(msg) {
                        console.log( "Data Saved: " + msg );
                    }
                });
            } else {
                // insert undo code here...
            }

        })
        // count tasks
        function countIssues() {

            $('.todo-group-title').each(function () {
                var $this = $(this);
                $this.find(".num-of-tasks").text($this.next().find("li").size());
            });

            var c = 0;
            $('.todo-group-title').each(function () {
                var $this = $(this);
                if ($this.next().attr('id') != 'sortable3')
                    c += $this.next().find("li").size();
            });

            if (c == 0)
                $('#badgeIssuesCount').text("");
            else
                $('#badgeIssuesCount').text(c);

        }

    });

</script>



<!-- Your GOOGLE ANALYTICS CODE Below -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>

