<h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'smart-form' }) do |f| %>

    <%= devise_error_messages! %>

    <%= f.hidden_field :reset_password_token %>

    <fieldset>

      <section>
        <label class="label">New password</label>
        <label class="input">
          <%= f.password_field :password, :autofocus => true %>
        </label>
      </section>

      <section>
        <label class="label">Confirm new password</label>
        <label class="input">
          <%= f.password_field :password_confirmation %>
        </label>
      </section>

    </fieldset>

    <footer>
      <button type="submit" class="btn btn-success">
        Change my password
      </button>
    </footer>

<% end %>

