<%= form_for(@invitation) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :password_is_temp %><br />
    <%= f.check_box :password_is_temp %>
  </div>
  <div class="field">
    <%= f.label :sent_at %><br />
    <%= f.datetime_select :sent_at %>
  </div>
  <div class="field">
    <%= f.label :accepted_at %><br />
    <%= f.datetime_select :accepted_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
