<%= form_for(@project, :html => {:class => 'form-horizontal'}) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation" class='alert alert-error'>
          <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
          <h4>Ooops, <%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h4>

          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

        <script type="text/javascript">
            $(function () {
                $('#project_name_controlGroup').addClass('error');
            });
        </script>

    <% else %>

        <script type="text/javascript">
            $(function () {
                $('#project_name').focus();
            });
        </script>

    <% end %>

    <div class="control-group" id='project_name_controlGroup'>
      <label class="control-label" for="project_name">Project Name</label>

      <div class="controls">
        <input type="text" id="project_name" name='project[name]' placeholder="name" value='<%= @project.name %>' class='span8' style='font-size:2em; height:40px;'>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="todo_recurrence">Status</label>

      <div class="controls">
        <%= select('project', 'status_code', [['On track', 1], ['Troubled', 2], ['Late', 3]], {}, {'class' => 'chzn-select', 'data-placeholder' => 'Repeats...'}) %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="project_percent_complete">% Complete</label>

      <div class="controls">
        <div class='ace-spinner'>
          <input type="text" class="input-mini spinner-input" id="project_percent_complete" name='project[percent_complete]' maxlength="3" style="width: 30px;">
        </div>
        <% if !@project.id.nil? %>
            &nbsp;&nbsp;&nbsp;<a href='javascript:showReCalc();'>(Re-)Calculate using info from the milestones</a>
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="project_description">Description</label>

      <div class="controls">
        <textarea id="project_description" name='project[description]' style='display:none;'></textarea>
        <div class='wysiwyg-editor  ' id="editor1" style='height: 125px;'></div>
      </div>
    </div>



    <div style='display: none;'>
      <ul id="children">
        <% @project.milestones.each do |m| %>
            <li data-completed='<%= m.is_complete? %>'
                data-points='<%= m.points %>'
                id="milestone_<%= m.id %>">Complete?--><%= m.is_complete? %> Size--><%= m.points.to_s %> </li>
        <% end %>
      </ul>
    </div>


    <div class="form-actions">
      <button type='submit' class='btn btn-success' onclick='javascript:getWysiwyg()'><i class="icon-ok"></i> Save</button>
      <a href='javascript:window.history.back();' class='btn btn-info'><i class="icon-backward"></i> Cancel</a>
    </div>

    <!--[if lte IE 8]>
    <script src="/assets/js/excanvas.min.js"></script>
    <![endif]-->

    <script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/js/chosen.jquery.min.js"></script>
    <script src="/assets/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/date-time/bootstrap-timepicker.min.js"></script>
    <script src="/assets/js/date-time/moment.min.js"></script>
    <script src="/assets/js/date-time/daterangepicker.min.js"></script>
    <script src="/assets/js/bootstrap-colorpicker.min.js"></script>
    <script src="/assets/js/jquery.knob.min.js"></script>
    <script src="/assets/js/jquery.autosize-min.js"></script>
    <script src="/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/bootstrap-tag.min.js"></script>

    <script src="/assets/js/markdown/markdown.min.js"></script>
    <script src="/assets/js/markdown/bootstrap-markdown.min.js"></script>
    <script src="/assets/js/jquery.hotkeys.min.js"></script>
    <script src="/assets/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>

    <script type="text/javascript">

        function showErrorAlert (reason, detail) {
            var msg='';
            if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
            else {
                console.log("error uploading file", reason, detail);
            }
            $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+
                    '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
        }


        function getWysiwyg()
        {
            //alert('copying...');
            $('#project_description').text($('#editor1').html());
        }


        function showReCalc()
        {
            var total = 0;
            var completed = 0;
            var percent = 0;
            $('#children li').each(function(index, value)
            {
                total += parseInt($(this).attr('data-points'));
                if ($(this).attr('data-completed') == 'true')
                    completed += parseInt($(this).attr('data-points'));
            });
            if (total > 0)
                percent = ((completed / total) * 100).toFixed(0);
            $('#project_percent_complete').val(percent);
        }

        $(function () {

            $('#project_percent_complete').ace_spinner({value: 0, min: 0, max: 100, step: 5, btn_up_class: 'btn-info', btn_down_class: 'btn-info'});
            //$(".chzn-select").chosen();
            $('#project_percent_complete').val(<%= @project.percent_complete %>);
            //$('#editor1').ace_wysiwyg();
            $('#editor1').html('<%= @project.description.html_safe %>');
            //$('#editor1').ace_wysiwyg();
            $('#editor1').ace_wysiwyg({
                toolbar:
                        [
                            'font',
                            null,
                            'fontSize',
                            null,
                            {name:'bold', className:'btn-info'},
                            {name:'italic', className:'btn-info'},
                            {name:'strikethrough', className:'btn-info'},
                            {name:'underline', className:'btn-info'},
                            null,
                            {name:'insertunorderedlist', className:'btn-success'},
                            {name:'insertorderedlist', className:'btn-success'},
                            {name:'outdent', className:'btn-purple'},
                            {name:'indent', className:'btn-purple'},
                            null,
                            {name:'justifyleft', className:'btn-primary'},
                            {name:'justifycenter', className:'btn-primary'},
                            {name:'justifyright', className:'btn-primary'},
                            {name:'justifyfull', className:'btn-inverse'},
                            null,
                            {name:'createLink', className:'btn-pink'},
                            {name:'unlink', className:'btn-pink'},
                            null,
                            {name:'insertImage', className:'btn-success'},
                            null,
                            'foreColor',
                            null,
                            {name:'undo', className:'btn-grey'},
                            {name:'redo', className:'btn-grey'}
                        ],
                'wysiwyg': {
                    fileUploadError: showErrorAlert
                },
                speech_button:true
            }).prev().addClass('wysiwyg-style1');

            //Add Image Resize Functionality to Chrome and Safari
            //webkit browsers don't have image resize functionality when content is editable
            //so let's add something using jQuery UI resizable
            //another option would be opening a dialog for user to enter dimensions.
            if ( typeof jQuery.ui !== 'undefined' && /applewebkit/.test(navigator.userAgent.toLowerCase()) ) {

                var lastResizableImg = null;
                function destroyResizable() {
                    if(lastResizableImg == null) return;
                    lastResizableImg.resizable( "destroy" );
                    lastResizableImg.removeData('resizable');
                    lastResizableImg = null;
                }

                var enableImageResize = function() {
                    $('.wysiwyg-editor')
                            .on('mousedown', function(e) {
                                var target = $(e.target);
                                if( e.target instanceof HTMLImageElement ) {
                                    if( !target.data('resizable') ) {
                                        target.resizable({
                                            aspectRatio: e.target.width / e.target.height,
                                        });
                                        target.data('resizable', true);

                                        if( lastResizableImg != null ) {//disable previous resizable image
                                            lastResizableImg.resizable( "destroy" );
                                            lastResizableImg.removeData('resizable');
                                        }
                                        lastResizableImg = target;
                                    }
                                }
                            })
                            .on('click', function(e) {
                                if( lastResizableImg != null && !(e.target instanceof HTMLImageElement) ) {
                                    destroyResizable();
                                }
                            })
                            .on('keydown', function() {
                                destroyResizable();
                            });
                }

                enableImageResize();

                /**
                 //or we can load the jQuery UI dynamically only if needed
                 if (typeof jQuery.ui !== 'undefined') enableImageResize();
                 else {//load jQuery UI if not loaded
			$.getScript($path_assets+"/js/jquery-ui-1.10.3.custom.min.js", function(data, textStatus, jqxhr) {
				if('ontouchend' in document) {//also load touch-punch for touch devices
					$.getScript($path_assets+"/js/jquery.ui.touch-punch.min.js", function(data, textStatus, jqxhr) {
						enableImageResize();
					});
				} else	enableImageResize();
			});
		}
                 */
            }

        });

    </script>

<% end %>

