<%= form_for(@project, :html => {:class => 'form-horizontal well'}) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation" class='alert alert-error'>
          <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
          <h4>Ooops, <%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h4>

          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

        <script type="text/javascript">
            $(function () {
                $('#project_name_controlGroup').addClass('error');
            });
        </script>

    <% else %>

        <script type="text/javascript">
            $(function () {
                $('#project_name').focus();
            });
        </script>

    <% end %>

    <div class="control-group" id='project_name_controlGroup'>
      <label class="control-label" for="project_name">Project Name</label>

      <div class="controls">
        <input type="text" id="project_name" name='project[name]' placeholder="name" value='<%= @project.name %>'>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="project_duration">Description</label>

      <div class="controls">
        <input type="text" id="project_description" name='project[description]' placeholder="description" value='<%= @project.description %>'>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="todo_recurrence">Status</label>

      <div class="controls">
        <%= select('project', 'status_code', [['On track', 1], ['Troubled', 2], ['Late', 3]], {}, {'class' => 'chzn-select', 'data-placeholder' => 'Repeats...'}) %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="project_percent_complete">% Complete</label>

      <div class="controls">
        <div class='ace-spinner'>
          <input type="text" class="input-mini spinner-input" id="project_percent_complete" name='project[percent_complete]' maxlength="3" style="width: 30px;">
        </div>
        <% if !@project.id.nil? %>
            &nbsp;&nbsp;&nbsp;<a href='javascript:showReCalc();'>(Re-)Calculate using info from the milestones</a>
        <% end %>
      </div>
    </div>


    <div style='visibility: hidden;'>
      <ul id="children">
        <% @project.milestones.each do |m| %>
            <li data-completed='<%= m.is_complete? %>'
                data-points='<%= m.points %>'
                id="milestone_<%= m.id %>">Complete?--><%= m.is_complete? %> Size--><%= m.points.to_s %> </li>
        <% end %>
      </ul>
    </div>


    <div class="form-actions">
      <button type='submit' class='btn btn-success'><i class="icon-ok"></i> Save</button>
      <a href='javascript:window.history.back();' class='btn btn-info'><i class="icon-backward"></i> Cancel</a>
    </div>

    <script type="text/javascript">

        function showReCalc()
        {
            var total = 0;
            var completed = 0;
            var percent = 0;
            $('#children li').each(function(index, value)
            {
                alert($(this).attr('id') + ' completed=' + $(this).attr('data-completed') + 'points=' + $(this).attr('data-points'));
                total += parseInt($(this).attr('data-points'));
                if ($(this).attr('data-completed') == 'true')
                    completed += parseInt($(this).attr('data-points'));
            });
            alert('total=' + total + '    completed=' + completed);
            if (total > 0)
                percent = ((completed / total) * 100).toFixed(0);
            alert('percent=' + percent);
            $('#project_percent_complete').val(percent);
        }

        $(function () {
            $('#project_percent_complete').ace_spinner({value: 0, min: 0, max: 100, step: 5, btn_up_class: 'btn-info', btn_down_class: 'btn-info'});
            $(".chzn-select").chosen();
            $('#project_percent_complete').val(<%= @project.percent_complete %>);
        });

    </script>

<% end %>
