<%= form_for(@project, :html => {:class => 'smart-form', :id => 'project_form'}) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation" class='alert alert-error'>
          <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
          <h4>Ooops, <%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h4>

          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

    <% end %>


    <fieldset>
        <div class='row'>
      <section class="col col-6">
        <label class="input"> <i class="icon-append fa fa-user"></i>
          <input type="text" name="project[name]" placeholder="Project name..." id='project_name' value='<%= @project.name %>'>
          <b class="tooltip tooltip-bottom-right">Give your project a short name</b> </label>
        </section>

        <section class="col col-6">
        <label class="select">
          <%= select('project', 'status_code', [['On track', 1], ['Troubled', 2], ['Late', 3]], {}) %>
        </label>

      </section>
        </div>

      <section>
        <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
          <input type="textarea" name="project[description]" placeholder="Description" id='project_description' value='<%= @project.description %>'>
          <b class="tooltip tooltip-bottom-right">Give your project a description</b> </label>
      </section>


    </fieldset>

    <footer>
      <button type="submit" class="btn btn-success">
        Save
      </button>
      <button class="btn btn-primary">
        Cancel
      </button>
    </footer>

<% end %>

