<div id="sidebar">

  <div id="sidebar-shortcuts">
    <div id="sidebar-shortcuts-large">
      <button class="btn btn-small btn-success"><i class="icon-signal"></i></button>
      <button class="btn btn-small btn-info"><i class="icon-pencil"></i></button>
      <button class="btn btn-small btn-warning"><i class="icon-group"></i></button>
      <button class="btn btn-small btn-danger"><i class="icon-cogs"></i></button>
    </div>
    <div id="sidebar-shortcuts-mini">
      <span class="btn btn-success"></span>
      <span class="btn btn-info"></span>
      <span class="btn btn-warning"></span>
      <span class="btn btn-danger"></span>
    </div>
  </div>
  <!-- #sidebar-shortcuts -->

  <ul class="nav nav-list">

    <li
        <% if component == 'project' %>
            class="active"
        <% end %>
    >
      <a href="/projects/<%= project_id %>">
        <i class="icon-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li
        <% if component == 'milestones' %>
            class="active"
        <% end %>
    >
      <a href="/projects/<%= project_id %>/milestones">
        <i class="icon-calendar"></i>
        <span>Milestones</span>
      </a>
    </li>

    <li
    <% if component == 'todos' %>
    class="active"
    <% end %>
    >
      <a href="/projects/<%= project_id %>/todos">
        <i class="icon-list"></i>
        <span>Todos</span>
      </a>
    </li>

    <li
    <% if component == 'members' %>
    class="active"
    <% end %>
    >
      <a href="/projects/<%= project_id %>/members">
        <i class="icon-group"></i>
        <span>Members</span>
      </a>
    </li>

    <li
    <% if component == 'alerts' %>
    class="active"
    <% end %>
    >
      <a href="/projects/<%= project_id %>/alerts">
        <i class="icon-bell"></i>
        <span>Alerts</span>
      </a>
    </li>

    <li
    <% if component == 'messages' %>
    class="active"
    <% end %>
    >
      <a href="/projects/<%= project_id %>/messages">
        <i class="icon-envelope"></i>
        <span>Messages</span>
      </a>
    </li>

    <li
    <% if component == 'settings' %>
    class="active"
    <% end %>
    >
      <a href="/projects/<%= project_id %>/settings">
        <i class="icon-cog"></i>
        <span>Settings</span>
      </a>
    </li>

  </ul>
  <!--/.nav-list-->


  <div id="sidebar-collapse"><i class="icon-double-angle-left"></i></div>


</div>
<!--/#sidebar-->
