<% if current_user %>
<ul class="nav ace-nav pull-right">
  <li class="grey">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon-tasks"></i>
      <span class="badge"><%= @my_active_todos.count %></span>
    </a>
    <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
      <li class="nav-header">
        <i class="icon-ok"></i> <%= @my_active_todos.count %> thing(s) assigned to me
      </li>

      <% @my_active_todos.each do |t| %>
          <li>
            <a href='/projects/<%= t.project.id.to_s %>/todos'>
              <div class="clearfix">
                <span><b><i class='icon-check-empty btn btn-mini btn-info'></i><%= t.subject %></b></span>
              </div>
              <div>
                <span><%= t.project.name[0..30] %>
                  <% if t.project.name.length > 30 %>
                      ...
                  <% end %>
                </span>
              </div>
            </a>
          </li>
      <% end %>

      <li>
        <a href="#">
          Close
          <i class="icon-arrow-right"></i>
        </a>
      </li>
    </ul>
  </li>


  <li class="purple">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon-bell-alt icon-animated-bell icon-only"></i>
      <span class="badge badge-important"><%= @my_late_todos.count %></span>
    </a>
    <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
      <li class="nav-header">
        <i class="icon-warning-sign"></i> <%= @my_late_todos.count %> alert(s) for me
      </li>

      <% @my_late_todos.each do |t| %>
          <li>
            <a href='/projects/<%= t.project.id.to_s %>/todos'>
              <div class="clearfix">
                <span><b><i class='icon-check-empty btn btn-mini btn-pink'></i><%= t.subject %></b></span>
              </div>
              <div>
                <span><%= t.project.name[0..30] %>
                  <% if t.project.name.length > 30 %>
                      ...
                  <% end %>
                </span>
              </div>
            </a>
          </li>
      <% end %>

      <li>
        <a href='#'>
          Close
          <i class="icon-arrow-right"></i>
        </a>
      </li>
    </ul>
  </li>


  <li class="green">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon-envelope-alt icon-animated-vertical icon-only"></i>
      <span class="badge badge-success"><%= @my_unread_messages.count %></span>
    </a>
    <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
      <li class="nav-header">
        <i class="icon-envelope"></i> <%= @my_unread_messages.count %> Unread Messages
      </li>

      <% @my_unread_messages.each do |m| %>
      <li>
        <a href='/projects/<%= m.project.id.to_s %>/messages/<%= m.id %>'>
          <span class="msg-body">
            <span class="msg-title">
                <span class="blue"><%= m.member.user.name %>:</span>
                <%= m.subject %>
            </span>
            <span class="msg-time">
                <i class="icon-time"></i> <span><%= time_ago_in_words(m.created_at) %> ago</span>
            </span>
          </span>
        </a>
      </li>
      <% end %>

      <li>
        <a href="#">
          Close
          <i class="icon-arrow-right"></i>
        </a>
      </li>

    </ul>
  </li>

  <li class="light-blue user-profile">
    <a class="user-menu dropdown-toggle" href="#" data-toggle="dropdown">
            <span id="user_info">
                <small>Welcome,</small> <%= current_user.name %>
            </span>
      <i class="icon-caret-down"></i>
    </a>
    <ul id="user_menu" class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
      <li><a href="/users/edit"><i class="icon-user"></i> User Settings</a></li>
      <li class="divider"></li>
      <li><a href="/users/sign_out" data-method='delete'><i class="icon-off"></i> Logout</a></li>
    </ul>
  </li>
</ul>
<!--/.ace-nav-->

<% end %>
