<div class="navbar navbar-inverse">
<div class="navbar-inner">
<div class="container-fluid">


<a class="brand" href="#">
  <small><i class="icon-check"></i> HuddleUp</small>
</a>

<%= render :partial => 'top_nav', :locals => { :post => 'foo' } %>

</div><!--/.container-fluid-->
</div><!--/.navbar-inner-->
</div>


<div class="container-fluid" id="main-container">
  <a href="#" id="menu-toggler"><span></span></a><!-- menu toggler -->

  <div id="sidebar">

    <div id="sidebar-shortcuts">
      <div id="sidebar-shortcuts-large">
        <button class="btn btn-small btn-success"><i class="icon-signal"></i></button>
        <button class="btn btn-small btn-info"><i class="icon-pencil"></i></button>
        <button class="btn btn-small btn-warning"><i class="icon-group"></i></button>
        <button class="btn btn-small btn-danger"><i class="icon-cogs"></i></button>
      </div>
      <div id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>
        <span class="btn btn-info"></span>
        <span class="btn btn-warning"></span>
        <span class="btn btn-danger"></span>
      </div>
    </div>
    <!-- #sidebar-shortcuts -->

    <ul class="nav nav-list">

      <li class="active">
        <a href="/projects/<%= @project.id %>">
          <i class="icon-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li>
        <a href="/projects/<%= @project.id %>/milestones">
          <i class="icon-calendar"></i>
          <span>Milestones</span>
        </a>
      </li>

      <li>
        <a href="/projects/<%= @project.id %>/members">
          <i class="icon-group"></i>
          <span>Members</span>
        </a>
      </li>

      <li>
        <a href="/projects/<%= @project.id %>/tasks">
          <i class="icon-list"></i>
          <span>Tasks</span>
        </a>
      </li>

      <li>
        <a href="/projects/<%= @project.id %>/invitations">
          <i class="icon-edit"></i>
          <span>Invitations</span>
        </a>
      </li>

      <li>
        <a href="/projects/<%= @project.id %>/alerts">
          <i class="icon-bell"></i>
          <span>Alerts</span>
        </a>
      </li>

      <li>
        <a href="/projects/<%= @project.id %>/messages">
          <i class="icon-envelope"></i>
          <span>Messages</span>
        </a>
      </li>

      <li>
        <a href="/projects/<%= @project.id %>/settings">
          <i class="icon-cog"></i>
          <span>Settings</span>
        </a>
      </li>

    </ul>
    <!--/.nav-list-->


    <div id="sidebar-collapse"><i class="icon-double-angle-left"></i></div>


  </div>
  <!--/#sidebar-->


  <div id="main-content" class="clearfix">

    <div id="breadcrumbs">
      <ul class="breadcrumb">
        <li><i class="icon-home"></i> <a href="/projects">Home</a><span class="divider"><i class="icon-angle-right"></i></span></li>
        <li><a href="/projects">Projects</a><span class="divider"><i class="icon-angle-right"></i></span></li>
        <li class="active"><%= @project.name %></li>
      </ul>
      <!--.breadcrumb-->

      <div id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input autocomplete="off" id="nav-search-input" type="text" class="input-small search-query" placeholder="Search ..."/>
                <i id="nav-search-icon" class="icon-search"></i>
            </span>
        </form>
      </div>
      <!--#nav-search-->
    </div>
    <!--#breadcrumbs-->

    <div id="page-content" class="clearfix">

      <div class="page-header position-relative">
        <h1><i class="icon-list-alt"></i> Edit <i><%= @project.name %></i></h1>
      </div>
      <!--/page-header-->


      <div class="row-fluid">

        <!-- PAGE CONTENT BEGINS HERE -->

        <div class="space-6"></div>
        <div class="row-fluid">

          <div class="span12">
            <div class="widget-box transparent">

              <div class="widget-body">
                <div class="widget-main padding-5">
                  <div class="tab-content padding-8">

                    <!-- BEGIN -->

                    <%=  render 'form' %>

                    <!-- END -->

                  </div>
                </div>
                <!--/widget-main-->
              </div>
              <!--/widget-body-->


            </div>
            <!--/widget-box-->
          </div>
          <!--/span-->

        </div>
        <!--/row-->

        <!-- PAGE CONTENT ENDS HERE -->


      </div>
      <!--/row-->

    </div>
    <!--/#page-content-->


  </div>
  <!-- #main-content -->


</div>
<!--/.fluid-container#main-container-->


<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
  <i class="icon-double-angle-up icon-only"></i>
</a>


<!-- inline scripts related to this page -->

<script type="text/javascript">

    $(function () {

        $('.dialogs,.comments').slimScroll({
            height: '300px'
        });

        $('.date-picker').datepicker();

        $(".chzn-select").chosen();

        var oldie = $.browser.msie && $.browser.version < 9;

        var $tooltip = $("<div class='tooltip top in' style='display:none;'><div class='tooltip-inner'></div></div>").appendTo('body');
        $('[data-rel="tooltip"]').tooltip();

    });


</script>
