<h1>Settings</h1>


<form action='set_settings' class="smart-form" method='POST'>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class='row'>
    <section class='col col-1'></section>
    <section class="col col-5">
      <label class="toggle state-disabled">
        <input type="checkbox" name='setting_01' id='setting_01' >
        <i data-swchon-text="ON" data-swchoff-text="OFF"></i>Create event entry for any todo with due date</label>
    </section>
  </div>
  <div class='row'>
    <section class='col col-1'></section>
    <section class="col col-5">
      <label class="toggle state-disabled">
        <input type="checkbox" name='setting_02' id='setting_02' >
        <i data-swchon-text="ON" data-swchoff-text="OFF"></i>Create a todo for every calendar event entry</label>
    </section>
  </div>
  <div class='row'>
    <section class='col col-1'></section>
    <section class="col col-5">
      <label class="toggle state-disabled">
        <input type="checkbox" name='setting_03' id='setting_03' >
        <i data-swchon-text="ON" data-swchoff-text="OFF"></i>Email members when a new alert is raised</label>
    </section>
  </div>
  <div class='row'>
    <section class='col col-1'></section>
    <section class="col col-5">
      <input type='submit' class='btn btn-success btn-lg pull-right header-btn hidden-mobile' value='Save Settings'/>
    </section>
  </div>
</form>


<p>&nbsp;</p>

<h1>Categories</h1>
<div style='width:80%; margin-left:100px;'>
<fieldset>
  <legend>
    Type and enter to add categories in use for this project
  </legend>
  <div class="row">
    <div class='col col-1'></div>
    <div class="col col-5">

    <select multiple id='categories' data-role='tagsinput'>
      <% @project.categories.each do |c| %>
        <option data-pk='<%= c.id %>' value='<%= c.name %>'><%= c.name %></option>
      <% end %>
    </select>

    </div>
  </div>
</fieldset>
</div>
<p>&nbsp;</p>


<%= render :partial => '/projects/scripts' %>

<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

        $('#categories').on('itemAdded', function(event) {
            // event.item: contains the item
            //console.log('adding ' + event.item);
            var payload = {'category': {'name': event.item} };
            //console.log('object=' + payload.toString());
            $.ajax({
                type: 'post',
                data: payload,
                dataType: 'script',
                url: '/projects/<%= @project.id %>/categories'});
        });

        $('#categories').on('itemRemoved', function(event) {
            // event.item: contains the item
            console.log('deleting ' + event.item);
            var pk = null;
            $('#categories > option').each(function()
            {
                //console.log($(this).val() + ' ' + $(this).text() + ' ' + $(this).attr('data-pk'));
                if ($(this).text() == event.item)
                {
                    pk = $(this).attr('data-pk');
                }
            });

            console.log('deleting pk ' + pk);
            if (pk != null)
            {
                $.ajax({
                    type: 'DELETE',
                    dataType: 'script',
                    url: '/projects/<%= @project.id %>/categories/' + pk});

            }

        });

    })

</script>
