<!-- row -->
<div class="row">

  <!-- col -->
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <!-- PAGE HEADER -->
      <i class="fa-fw fa fa-road"></i>
      Projects
    </h1>
  </div>
  <!-- end col -->

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5 pull-right">
    <!-- Button trigger modal -->
    <% if can? :create, Project %>
        <%= link_to '<i class="fa fa-plus"></i> Create a new project'.html_safe, new_project_path, :class => 'pull-right', :style=>'margin-right:22px; margin-top:10px;' %>
    <% end %>
  </div>

</div>
<!-- end row -->

<!-- widget grid -->
<section id="widget-grid" class="">

  <!-- row -->
  <div class="row">

    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

      <% @projects.each_with_index do |project,index| %>

          <% if (index.even?) %>
              <div class="jarviswidget jarviswidget-color-darken"
                   id="<%= project.id %>"
                   data-widget-colorbutton="false"
                   data-widget-fullscreenbutton="false">
                <header>
                  <h2><strong><%= project.name %></strong></h2>
                </header>

                <!-- widget div-->
                <div>

                  <!-- widget content -->
                  <div class="widget-body">
                    <div class="progress">
                      <%= get_project_card_progress_report(project).html_safe %>
                    </div>

                    <p> <%= project.description %> </p>
                    <p> <span class='font-lg'><%= project.how_many_todos_left %></span> todos yet for me,
                        <span class='font-lg'><%= project.how_many_issues_left %></span> issues yet for me,
                        <span class='font-lg'><%= project.how_many_active_announcements %></span> unread messages
                    </p>

                  </div>
                  <!-- end widget content -->

                </div>
                <!-- end widget div -->

              </div>
              <!-- end widget -->
          <% end %>

      <% end %>

    </article>


    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <% @projects.each_with_index do |project,index| %>

          <% if (index.odd?) %>
              <div class="jarviswidget jarviswidget-color-darken"
                   id="<%= project.id %>"
                   data-widget-colorbutton="false"
                   data-widget-fullscreenbutton="false">
                <header>
                  <h2><strong><%= project.name %></strong></h2>
                </header>

                <!-- widget div-->
                <div>

                  <!-- widget content -->
                  <div class="widget-body">
                    <div class="progress">
                      <%= get_project_card_progress_report(project).html_safe %>
                    </div>

                    <p> <%= project.description %> </p>
                    <p> <span class='font-lg'><%= project.how_many_todos_left %></span> todos yet for me,
                      <span class='font-lg'><%= project.how_many_issues_left %></span> issues yet for me,
                      <span class='font-lg'><%= project.how_many_active_announcements %></span> unread messages
                    </p>

                  </div>
                  <!-- end widget content -->

                </div>
                <!-- end widget div -->

              </div>
              <!-- end widget -->
          <% end %>

      <% end %>

    </article>

  </div>
</section>



<%= render :partial => '/projects/scripts' %>

<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();
    });

</script>

<!-- Your GOOGLE ANALYTICS CODE Below -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
