<!-- row -->
<div class="row">

  <!-- col -->
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <!-- PAGE HEADER -->
      <i class="fa-fw fa fa-road"></i>
      <%= @projects.count %> Projects
    </h1>
  </div>
  <!-- end col -->

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5 pull-right">
    <!-- Button trigger modal -->
    <% if can? :create, Project %>
        <%= link_to '<i class="fa fa-plus"></i> Create a new project'.html_safe, new_project_path, :class => 'pull-right', :style=>'margin-right:22px; margin-top:10px;' %>
    <% end %>
  </div>

</div>
<!-- end row -->

<!-- widget grid -->
<section id="widget-grid" class="">

  <!-- row -->
  <div class="row">

    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

      <% @projects.each_with_index do |project,index| %>

          <% if (index.even?) %>
              <div class="jarviswidget jarviswidget-color-darken"
                   id="<%= project.id %>"
                   data-widget-editbutton='false'
                   data-widget-colorbutton="false"
                   data-widget-fullscreenbutton="false">
                <header>
                  <a href='/projects/<%= project.id %>' style='color: #f5f5f5; padding-left: 10px;'><h2 class='font-xl'><strong><%= project.name.truncate(32) %></strong></h2></a>
                </header>

                <!-- widget div-->
                <div>

                  <!-- widget content -->
                  <div class="widget-body">
                    <table width='100%'>
                      <tr>
                        <td width='75%'><%= get_project_stats(project).html_safe %></td>
                        <td width='25%'>
                          <div class="progress">
                            <%= get_project_progress_bar(project).html_safe %>
                          </div>
                        </td>
                      </tr>
                    </table>

                    <p> <%= project.description %> </p>
                    <p>
                      <table width='100%'>
                        <tr>
                          <td style='width:25%'><span class='font-xl'>0</span> alerts </td>
                          <td style='width:25%'><span class='font-xl'><%= project.how_many_todos_left_for_this_member(current_user) %></span> todos for me </td>
                          <td style='width:25%'><span class='font-xl'><%= project.how_many_issues_left_for_this_member(current_user) %></span> issues for me </td>
                          <td style='width:25%'><span class='font-xl'><%= project.how_many_active_announcements %></span> announcements </td>
                        </tr>
                      </table>
                    </p>

                  </div>
                  <!-- end widget content -->

                </div>
                <!-- end widget div -->

              </div>
              <!-- end widget -->
          <% end %>

      <% end %>

    </article>


    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <% @projects.each_with_index do |project,index| %>

          <% if (index.odd?) %>
              <div class="jarviswidget jarviswidget-color-darken"
                   id="<%= project.id %>"
                   data-widget-editbutton='false'
                   data-widget-colorbutton="false"
                   data-widget-fullscreenbutton="false">
                <header>
                  <a href='/projects/<%= project.id %>' style='color: #f5f5f5; padding-left: 10px;'><h2 class='font-xl'><strong><%= project.name.truncate(32) %></strong></h2></a>
                </header>

                <!-- widget div-->
                <div>

                  <!-- widget content -->
                  <div class="widget-body">
                    <table width='100%'>
                      <tr>
                        <td width='75%'><%= get_project_stats(project).html_safe %></td>
                        <td width='25%'>
                          <div class="progress">
                            <%= get_project_progress_bar(project).html_safe %>
                          </div>
                        </td>
                      </tr>
                    </table>

                    <p> <%= project.description %> </p>
                    <p>
                        <table width='100%'>
                          <tr>
                            <td style='width:25%'><span class='font-xl'>0</span> alerts </td>
                            <td style='width:25%'><span class='font-xl'><%= project.how_many_todos_left_for_this_member(current_user) %></span> todos for me </td>
                            <td style='width:25%'><span class='font-xl'><%= project.how_many_issues_left_for_this_member(current_user) %></span> issues for me </td>
                            <td style='width:25%'><span class='font-xl'><%= project.how_many_active_announcements %></span> announcements </td>
                          </tr>
                        </table>

                    </p>

                  </div>
                  <!-- end widget content -->

                </div>
                <!-- end widget div -->

              </div>
              <!-- end widget -->
          <% end %>

      <% end %>

    </article>

  </div>
</section>



<%= render :partial => '/projects/scripts' %>

<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();
    });

</script>

<!-- Your GOOGLE ANALYTICS CODE Below -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
