<!-- row -->
<div class="row">

  <!-- col -->
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <!-- PAGE HEADER -->
      <i class="fa-fw fa fa-road"></i>
      Projects
    </h1>
  </div>
  <!-- end col -->

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5 pull-right">
    <!-- Button trigger modal -->
    <% if can? :create, Project %>
        <%= link_to 'Create a new project', new_project_path, :class=>'btn btn-success btn-lg pull-right header-btn ' %>
    <% end %>
  </div>

</div>
<!-- end row -->

<!-- widget grid -->
<section id="widget-grid" class="">

  <!-- row -->
  <div class="row">

    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

      <!-- Widget ID (each widget will need unique ID)-->
      <div class="jarviswidget" id="wid-id-0">
        <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
        <header>
          <h2><strong>Default</strong> <i>Widget</i></h2>

        </header>

        <!-- widget div-->
        <div>

          <!-- widget edit box -->
          <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
            <input class="form-control" type="text">
            <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>

          </div>
          <!-- end widget edit box -->

          <!-- widget content -->
          <div class="widget-body">

            <p> Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>
              to the <code>.widget-body</code> class. The default widget also comes with 5 widget buttons as displayed on top right
              corner of the widget header. </p>
            <a href="javascript:void(0);" class="btn btn-default btn-lg"> <strong>Big</strong> <i>Button</i> </a>

          </div>
          <!-- end widget content -->

        </div>
        <!-- end widget div -->

      </div>
      <!-- end widget -->

      <!-- Widget ID (each widget will need unique ID)-->
      <div class="jarviswidget jarviswidget-color-green"
           id="wid-id-1"
           data-widget-colorbutton="false"
           data-widget-editbutton="false"
           data-widget-fullscreenbutton="false">
        <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
        <header>
          <h2><strong>MyDay</strong></h2>
          <div class="widget-toolbar">
            <a href="javascript:void(0);" class="btn btn-primary">Details</a>
          </div>
        </header>

        <!-- widget div-->
        <div>

          <!-- widget content -->
          <div class="widget-body">
            <div class="progress">
              <div class="progress-bar bg-color-red" aria-valuetransitiongoal="50" style="width: 20%;" aria-valuenow="0">0% (34/59 items)</div>
            </div>

            <p> this is the description, if there is any </p>
            <div class="label label-default small">
              I am a tag
            </div>
            &nbsp;
            <div class="label label-default small">
              I am a tag
            </div>
            &nbsp;
            <div class="label label-default small">
              I am a tag
            </div>
            &nbsp;
            <div class="label label-default small">
              I am a tag
            </div>
            &nbsp;


            <!-- widget footer -->
            <div class="widget-footer">
              <div class="pull-left font-xs">
                <span class="badge bg-color-red pull-left"> 13 </span>&nbsp; todos yet for me
              </div>
              <div class="pull-left font-xs" style='margin-left:10px;'>
                <span class="badge bg-color-red pull-left"> 16 </span>&nbsp; issues yet for me
              </div>
            </div>
            <!-- end widget footer -->

          </div>
          <!-- end widget content -->



        </div>
        <!-- end widget div -->

      </div>
      <!-- end widget -->

    </article>

    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

      <% @projects.each do |project| %>

          <div class="jarviswidget jarviswidget-color-darken"
               id="wid-id-<%= project.id %>"
               data-widget-colorbutton="false"
               data-widget-editbutton="false"
               data-widget-fullscreenbutton="false">
            <header>
              <h2><strong><%= project.name %></strong></h2>
              <div class="widget-toolbar">
                <a href="/projects/<%= project.id %>" class="btn btn-primary">Details</a>
              </div>
            </header>

            <!-- widget div-->
            <div>

              <!-- widget content -->
              <div class="widget-body">
                <div class="progress">
                  <div class="progress-bar bg-color-green" aria-valuetransitiongoal="25" style="width: 25%;" aria-valuenow="25">25% (34/59 items)</div>
                </div>

                <p> <%= project.description %> </p>

                <% if project.categories.count > 0 %>
                    <% project.categories.each do |c| %>
                        <div class="label label-default small">
                          <%= c.name %>
                        </div>
                        &nbsp;
                    <% end %>
                <% end %>

              </div>
              <!-- end widget content -->

              <!-- widget footer -->
              <div class="widget-footer">
                <div class="pull-left font-xs">
                  <span class="badge bg-color-red pull-left"> 13 </span>&nbsp; todos yet for me
                </div>
                <div class="pull-left font-xs" style='margin-left:10px;'>
                  <span class="badge bg-color-red pull-left"> 13 </span>&nbsp; issues yet for me
                </div>
              </div>
              <!-- end widget footer -->

            </div>
            <!-- end widget div -->

          </div>
          <!-- end widget -->

      <% end %>

    </article>

  </div>
</section>



<%= render :partial => '/projects/scripts' %>

<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

    });

</script>

<!-- Your GOOGLE ANALYTICS CODE Below -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
