<!-- row -->
<div class="row">

  <!-- col -->
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <!-- PAGE HEADER -->
      <i class="fa-fw fa fa-road"></i>
      <%= @projects.count %> Projects
    </h1>
  </div>
  <!-- end col -->

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5 pull-right">
    <!-- Button trigger modal -->
    <% if can? :create, Project %>
        <%= link_to '<i class="fa fa-plus"></i> Create a new project'.html_safe, new_project_path, :class => 'pull-right', :style => 'margin-right:22px; margin-top:10px;' %>
    <% end %>
  </div>

</div>
<!-- end row -->


<!-- row -->
<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <% @projects.each do |project| %>

        <div class="panel panel-<%= get_project_status_color(project) %>">

          <div class="panel-heading">
            <h3 class="panel-title font-lg">
              <a href='/projects/<%= project.id %>'>
                <strong><%= project.name %></strong></a>
              <span class="pull-right"><%= get_project_status_text(project) %></span>
            </h3>

          </div>

          <div class="panel-body">
            <p> <%= project.description %>
                Created on <%= project.created_at.strftime("%m/%d/%Y") %>. Last updated by <%= project.get_last_updated_by %>.
            </p>

            <p>
            <table width='100%'>
              <tr>
                <td style='width:25%'><span class='font-xl'>0</span> alerts</td>
                <td style='width:25%'>
                  <span class='font-xl'><%= project.how_many_todos_left_for_this_member(current_user) %></span> todos
                  for me
                </td>
                <td style='width:25%'>
                  <span class='font-xl'><%= project.how_many_issues_left_for_this_member(current_user) %></span>
                  issues for me
                </td>
                <td style='width:25%'><span class='font-xl'><%= project.how_many_active_announcements %></span>
                  announcements
                </td>
              </tr>
            </table>
            </p>
          </div>

        </div>

    <% end %>

  </div>

</div>



<%= render :partial => '/projects/scripts' %>

<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();
    });

</script>

<!-- Your GOOGLE ANALYTICS CODE Below -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
