<!-- row -->
<div class="row">

  <!-- col -->
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <!-- PAGE HEADER -->
      <i class="fa-fw fa fa-road"></i>
      My Projects
    </h1>
  </div>
  <!-- end col -->

</div>
<!-- end row -->

<div class="col-sm-12">

  <div class="well">

    <table class="table table-striped table-forum">
      <thead>
      <tr>
        <th colspan="4">Projects</th>
        <th class="hidden-xs hidden-sm" style="width: 200px;">Last Activity</th>
      </tr>
      </thead>
      <tbody>

      <% @projects.each do |project| %>
          <!-- TR -->
          <tr>
            <td colspan="4">
              <h4><a href='/projects/<%= project.id %>'>
                <%= project.name %>
              </a>
                <small><%= project.description.html_safe %> Created on <%= project.created_at.strftime("%m/%d/%Y") %>.</small>
              </h4>
            </td>
            <td class="hidden-xs hidden-sm">by
              <a href="javascript:void(0);">John Doe</a>
              <br>
              <small><i>January 1, 2014</i></small>
            </td>
          </tr>
          <!-- end TR -->
      <% end %>

      <!-- TR -->
      <tr>
        <td colspan="4">
          <h4><a href="forum-post.html">
            Consectetuer adipiscing elit
          </a>
            <small><a href="profile.html">John Doe</a> on <em>January 1, 2014</em></small>
          </h4>
        </td>
        <td class="hidden-xs hidden-sm">by
          <a href="javascript:void(0);">John Doe</a>
          <br>
          <small><i>January 1, 2014</i></small>
        </td>
      </tr>
      <!-- end TR -->

      <!-- TR -->
      <tr class="locked">
        <td colspan="4">
          <h4><a href="forum-post.html">
            This is a locked topic!
          </a>
            <small><a href="profile.html">John Doe</a> on <em>January 1, 2014</em></small>
          </h4>
        </td>
        <td class="hidden-xs hidden-sm">by
          <a href="javascript:void(0);">John Doe</a>
          <br>
          <small><i>January 1, 2014</i></small>
        </td>
      </tr>
      <!-- end TR -->

      <!-- TR -->
      <tr class="closed">
        <td colspan="4">
          <h4><a href="forum-post.html">
            This is a closed topic!
          </a>
            <small><a href="javascript:void(0);">John Doe</a> on <em>January 1, 2014</em></small>
          </h4>
        </td>
        <td class="hidden-xs hidden-sm">by
          <a href="javascript:void(0);">John Doe</a>
          <br>
          <small><i>January 1, 2014</i></small>
        </td>
      </tr>
      <!-- end TR -->

      </tbody>
    </table>


  </div>
</div>


<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script data-pace-options='{ "restartOnRequestAfter": true }' src="/SmartAdmin/js/plugin/pace/pace.min.js"></script>

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script>
    if (!window.jQuery) {
        document.write('<script src="/SmartAdmin/js/libs/jquery-2.0.2.min.js"><\/script>');
    }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
    if (!window.jQuery.ui) {
        document.write('<script src="/SmartAdmin/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
    }
</script>

<!-- IMPORTANT: APP CONFIG -->
<script src="/SmartAdmin/js/app.config.js"></script>

<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
<script src="/SmartAdmin/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="/SmartAdmin/js/bootstrap/bootstrap.min.js"></script>

<!-- CUSTOM NOTIFICATION -->
<script src="/SmartAdmin/js/notification/SmartNotification.min.js"></script>

<!-- JARVIS WIDGETS -->
<script src="/SmartAdmin/js/smartwidgets/jarvis.widget.min.js"></script>

<!-- EASY PIE CHARTS -->
<script src="/SmartAdmin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

<!-- SPARKLINES -->
<script src="/SmartAdmin/js/plugin/sparkline/jquery.sparkline.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="/SmartAdmin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="/SmartAdmin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

<!-- JQUERY SELECT2 INPUT -->
<script src="/SmartAdmin/js/plugin/select2/select2.min.js"></script>

<!-- JQUERY UI + Bootstrap Slider -->
<script src="/SmartAdmin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

<!-- browser msie issue fix -->
<script src="/SmartAdmin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

<!-- FastClick: For mobile devices -->
<script src="/SmartAdmin/js/plugin/fastclick/fastclick.min.js"></script>

<!--[if IE 8]>

<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->

<!-- Demo purpose only -->
<script src="/SmartAdmin/js/demo.min.js"></script>

<!-- MAIN APP JS FILE -->
<script src="/SmartAdmin/js/app.min.js"></script>

<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
<!-- Voice command : plugin -->
<script src="/SmartAdmin/js/speech/voicecommand.min.js"></script>

<!-- PAGE RELATED PLUGIN(S)
<script src="..."></script>-->
<!-- PAGE RELATED PLUGIN(S) -->
<script src="/SmartAdmin/js/plugin/jquery-form/jquery-form.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

    });

</script>

<%= javascript_include_tag "rails" %>

<!-- Your GOOGLE ANALYTICS CODE Below -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
