<!-- row -->
<div class="row">

  <!-- col -->
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <!-- PAGE HEADER -->
      <i class="fa-fw fa fa-road"></i>
      Summary at a Glance
    </h1>
  </div>
  <!-- end col -->

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5 pull-right">
    <!-- Button trigger modal -->

    <%= link_to 'Admin: Edit this project definition', edit_project_path, :class => 'btn btn-success btn-lg pull-right header-btn hidden-mobile' %>

  </div>

</div>
<!-- end row -->


<section id="widget-grid">

<div class="row">

<article class="col-sm-12 col-md-12 col-lg-6">

  <!-- -------------------------------------------------------------------------------------------- -->
  <!-- alerts widget -->
  <!-- -------------------------------------------------------------------------------------------- -->
  <div class="jarviswidget jarviswidget-color-blue" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-bell"></i> </span>
      <h2>Alerts</h2>
    </header>

    <!-- widget div-->
    <div>
      <div class="widget-body">
        <!-- content goes here -->
        <span class='margin-left:15px;'>Alerts are not running...</span>
        <!-- end content -->
      </div>
    </div>
    <!-- end widget div -->
  </div>
  <!-- end widget -->

  <!-- -------------------------------------------------------------------------------------------- -->
  <!-- milestones widget -->
  <!-- -------------------------------------------------------------------------------------------- -->
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>

      <h2> My Events </h2>

      <div class="widget-toolbar">
        <!-- add: non-hidden - to disable auto hide -->
        <div class="btn-group">
          <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
            Showing <i class="fa fa-caret-down"></i>
          </button>
          <ul class="dropdown-menu js-status-update pull-right">
            <li>
              <a href="javascript:void(0);" id="mt">Month</a>
            </li>
            <li>
              <a href="javascript:void(0);" id="ag">Agenda</a>
            </li>
            <li>
              <a href="javascript:void(0);" id="td">Today</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- widget div-->
    <div>
      <!-- widget edit box -->
      <div class="jarviswidget-editbox">

        <input class="form-control" type="text">

      </div>
      <!-- end widget edit box -->

      <div class="widget-body no-padding">
        <!-- content goes here -->
        <div class="widget-body-toolbar">

          <div id="calendar-buttons">

            <div class="btn-group">
              <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
              <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div id="calendar"></div>

        <!-- end content -->
      </div>

    </div>
    <!-- end widget div -->
  </div>
  <!-- end widget -->

</article>

<article class="col-sm-12 col-md-12 col-lg-6">

  <!-- -------------------------------------------------------------------------------------------- -->
  <!-- issues widget -->
  <!-- -------------------------------------------------------------------------------------------- -->
  <div class="jarviswidget jarviswidget-color-blue" id="wid-id-3" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-bug"></i> </span>
        <h2>Open Issues</h2>
    </header>

    <!-- widget div-->
    <div>

      <div class="widget-body no-padding">

        <!-- content goes here -->

        <div class='well'>
        <% @project.issues.where('is_resolved is null').order('is_resolved nulls first').each do |issue| %>
            <!-- TR -->
            <tr>
              <td>
                <i class="fa fa-bug"></i>
                <a href='/projects/<%= @project.id %>/issues/<%= issue.id %>'>
                  <%= issue.subject.html_safe %></a>
                <br />
                <span style='color: #bfbfbf; font-size: 10px; padding-left: 15px;'>Last updated by <%= get_issue_last_updated_by(issue.id) %></span>
              </td>
            </tr>
            <!-- end TR -->
        <% end %>
        </div>
        <!-- end content -->

      </div>

    </div>
    <!-- end widget div -->
  </div>
  <!-- end widget -->

  <!-- -------------------------------------------------------------------------------------------- -->
  <!-- todos widget -->
  <!-- -------------------------------------------------------------------------------------------- -->
  <div class="jarviswidget jarviswidget-color-blue" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-check-square-o txt-color-white"></i> </span>
      <h2> Incomplete Todos </h2>
    </header>
    <div>
      <div class="widget-body no-padding smart-form">
        <!-- content goes here -->
        <h5 class="todo-group-title"> Incomplete Tasks (<small class="num-of-tasks"><%= @project.todos.where('is_complete != true or is_complete is null').count %></small>)
        </h5>
        <ul id="sortable2" class="todo">
          <% @project.todos.where('is_complete != true or is_complete is null').each do |todo| %>
              <li data-pk='<%= todo.id %>'>
                <span class="handle">
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox-inline">
                    <i></i> </label>
                </span>

                <p>
                  <strong> #<%= todo.id %></strong> - <%= todo.subject %>
                  <%= link_to '[More Details]', edit_project_todo_path(@project, todo), {:class=>'font-xs'} %>
                  <span class="text-muted"><%= todo.description %> </span>
                  <span class="date">Created <%= time_ago_in_words(todo.created_at) %> ago.</span>
                </p>
              </li>
          <% end %>
        </ul>
        <!-- end content -->
      </div>
    </div>
    <!-- end widget div -->
  </div>
  <!-- end widget -->

</article>

</div>

<!-- end row -->

</section>
<!-- end widget grid -->

</div>

<!-- -------------------------------------------------------------------------------------------- -->


<%= render :partial => '/projects/scripts' %>

<script>
    $(document).ready(function () {

        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        pageSetUp();

        // initialize sortable
        $(function () {
            $("#sortable1, #sortable2").sortable({
                handle: '.handle',
                connectWith: ".todo",
                update: countTasks
            }).disableSelection();
        });

        // check and uncheck
        $('.todo .checkbox > input[type="checkbox"]').click(function () {
            var $this = $(this).parent().parent().parent();

            if ($(this).prop('checked')) {
                $this.addClass("complete");

                // remove this if you want to undo a check list once checked
                //$(this).attr("disabled", true);
                $(this).parent().hide();

                // once clicked - add class, copy to memory then remove and add to sortable3
                $this.slideUp(500, function () {
                    //$this.clone().prependTo("#sortable3").effect("highlight", {}, 800);
                    $this.remove();
                    countTasks();
                });

                // ajax update back to database
                var pk = $this.attr('data-pk');
                var url = '/projects/<%= @project.id %>/todos/mark_complete/' + pk;
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { _method:'PUT' },
                    success: function(msg) {
                        console.log( "Data Saved: " + msg );
                    }
                });
            } else {
                // insert undo code here...
            }

        })
        // count tasks
        function countTasks() {

            $('.todo-group-title').each(function () {
                var $this = $(this);
                $this.find(".num-of-tasks").text($this.next().find("li").size());
                $('#badgeTodosCount').text($this.next().find("li").size());
            });

        }

    });

</script>

<!-- Your GOOGLE ANALYTICS CODE Below -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
