<!-- row -->
<div class="row">

  <!-- col -->
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <!-- PAGE HEADER -->
      <i class="fa-fw fa fa-bar-chart-o"></i>
      <%= @project.name %>
    </h1>
  </div>
  <!-- end col -->

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5 pull-right">

    <% if @project.current_user_is_project_admin?(current_user.id) %>
        <%= link_to 'Admins: Edit this project definition', edit_project_path, :class => 'btn btn-info btn-lg pull-right header-btn hidden-mobile' %>
    <% end %>

  </div>

</div>
<!-- end row -->

<!-- row -->
<div class="row">
  <div class="col-sm-12">
    <h3>Summary at a Glance

        <p> <div>Current status: <span class='label label-<%= get_project_status_color(@project) %>'><%= get_project_status_text(@project) %></span>
            </div>
        </p>

    </h3>

    <p><%= @project.description.html_safe unless @project.description.nil? %></p>
  </div>
</div>


<section id="widget-grid">

  <div class="row">

    <article class="col-sm-12 col-md-12 col-lg-6">

      <!-- -------------------------------------------------------------------------------------------- -->
      <!-- alerts widget -->
      <!-- -------------------------------------------------------------------------------------------- -->
      <div class="jarviswidget jarviswidget-color-blue" id="wid-id-1"
           data-widget-editbutton="false"
           data-widget-colorbutton="false"
           data-widget-deletebutton="false"
           data-widget-fullscreenbutton="false">
        <header>
          <span class="widget-icon"> <i class="fa fa-bell"></i> </span>

          <h2>Alerts</h2>
        </header>

        <!-- widget div-->
        <div>
          <div class="widget-body">
            <!-- content goes here -->
            <span style='margin-left:15px;'>Alerts are not running...</span>
            <!-- end content -->
          </div>
        </div>
        <!-- end widget div -->
      </div>
      <!-- end widget -->

      <!-- -------------------------------------------------------------------------------------------- -->
      <!-- events widget -->
      <!-- -------------------------------------------------------------------------------------------- -->
      <div class="jarviswidget jarviswidget-color-blue" id="wid-id-2"
           data-widget-editbutton="false"
           data-widget-colorbutton="false"
           data-widget-deletebutton="false"
           data-widget-fullscreenbutton="false">

      <header>
          <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>

          <h2> Schedule </h2>

          <div class="widget-toolbar">
            <div class="btn-group">
              <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                Showing <i class="fa fa-caret-down"></i>
              </button>
              <ul class="dropdown-menu js-status-update pull-right">
                <li>
                  <a href="javascript:void(0);" id="mt">Month</a>
                </li>
                <li>
                  <a href="javascript:void(0);" id="ag">Week</a>
                </li>
                <li>
                  <a href="javascript:void(0);" id="td">Today</a>
                </li>
              </ul>
            </div>
          </div>
        </header>

        <!-- widget div-->
        <div>
          <div class="widget-body no-padding">
            <div class="widget-body-toolbar">
              <div id="calendar-buttons">
                <div class="btn-group">
                  <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                  <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <div id="calendar"></div>
          </div>
        </div>
        <!-- end widget div -->
      </div>
      <!-- end widget -->

    </article>

    <article class="col-sm-12 col-md-12 col-lg-6">

      <!-- -------------------------------------------------------------------------------------------- -->
      <!-- issues widget -->
      <!-- -------------------------------------------------------------------------------------------- -->
      <div class="jarviswidget jarviswidget-color-blue" id="wid-id-3"
           data-widget-editbutton="false"
           data-widget-colorbutton="false"
           data-widget-deletebutton="false"
           data-widget-fullscreenbutton="false">

      <header>
          <span class="widget-icon"> <i class="fa fa-bug txt-color-white"></i> </span>

          <h2> Unresolved Issues </h2>
        </header>
        <div>

              <div class="widget-body no-padding smart-form">

                <div class="widget-body-toolbar">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5 pull-right">
                      <% if can? :create, @project.issues.build %>
                          <%= link_to '<i class="fa fa-plus"></i> Create a new issue'.html_safe, new_project_issue_path(@project), :class => 'pull-right', :style=>'margin-right:22px; margin-top:10px;' %>
                      <% end %>
                    </div>
                  </div>
                </div>

                <% if @project.issues.where('is_resolved != true or is_resolved is null').count == 0 %>
                    <div class="custom-scroll" style="height:100px; overflow-y: scroll;">
                        <span style='margin-left:15px;'>None.</span>
                    </div>
                <% else %>
                    <div class="custom-scroll" style="height:300px; overflow-y: scroll;">
                        <ul id="issues" class="todo">
                          <% @project.issues.where('is_resolved != true or is_resolved is null').order('position').each do |issue| %>
                            <li data-pk='<%= issue.id %>' class='issue' id="task_<%= issue.id %>">
                                <span class="handle">
                                  <label class="checkbox">
                                    <input type="checkbox" name="checkbox-inline" <%= "disabled='disabled'".html_safe if !can? :update, @project.issues.build %>>
                                    <i></i> </label>
                                </span>

                                <p>
                                  <% if can? :update, @project.issues.build %>
                                      <strong>
                                        <%= link_to 'Issue ID# ' + issue.id.to_s, edit_project_issue_path(@project, issue) %>
                                      </strong> - <%= issue.subject %>
                                  <% else %>
                                      <strong> Issue ID#<%= issue.id %></strong> - <%= issue.subject %>
                                  <% end %>

                                  <% if issue.is_critical? %>
                                      <span class='badge bg-color-red' style='display: inline-block;'>&nbsp;&nbsp;<i class='fa fa-warning'>&nbsp;&nbsp;</i></span>
                                  <% end %>

                                  <span class="text-muted"><%= "Assigned to " + issue.member.user.name + "." unless issue.member.nil? %> <%= issue.description %> </span>
                                  <span class="date">Created <%= time_ago_in_words(issue.created_at) %> ago.</span>
                                </p>
                            </li>
                          <% end %>
                        </ul>
                    </div>
                <% end %>

              </div>
        </div>
        <!-- end widget div -->
      </div>
      <!-- end widget -->

      <!-- -------------------------------------------------------------------------------------------- -->
      <!-- todos widget -->
      <!-- -------------------------------------------------------------------------------------------- -->
      <div class="jarviswidget jarviswidget-color-blue" id="wid-id-4"
           data-widget-editbutton="false"
           data-widget-colorbutton="false"
           data-widget-deletebutton="false"
           data-widget-fullscreenbutton="false">

      <header>
          <span class="widget-icon"> <i class="fa fa-check-square-o txt-color-white"></i> </span>
          <h2> Incomplete Todos </h2>
        </header>
        <div>

          <div class="widget-body-toolbar">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5 pull-right">
                <% if can? :create, @project.todos.build %>
                    <%= link_to '<i class="fa fa-plus"></i> Create a new todo'.html_safe, new_project_todo_path(@project), :class => 'pull-right' %>
                <% end %>
              </div>
            </div>
          </div>

          <% if @project.todos.where('is_complete != true or is_complete is null').count == 0 %>
              <div class="custom-scroll" style="height:100px; overflow-y: scroll;">
                <span style='margin-left:15px;'>None.</span>
              </div>
          <% else %>
              <div class="widget-body no-padding smart-form">
                <div class="custom-scroll table-responsive" style="height:300px; overflow-y: scroll;">
                    <ul id="todos" class="todo">
                      <% @project.todos.where('is_complete != true or is_complete is null').order('position').each do |todo| %>
                          <li data-pk='<%= todo.id %>' class='task' id="task_<%= todo.id %>">
                        <span class="handle">
                          <label class="checkbox">
                            <input type="checkbox" name="checkbox-inline" <%= "disabled='disabled'".html_safe if !can? :update, @project.todos.build %>>
                            <i></i> </label>
                        </span>

                            <p>
                              <% if can? :update, @project.todos.build %>
                                  <strong>
                                    <%= link_to 'Todo ID# ' + todo.id.to_s, edit_project_todo_path(@project, todo) %>
                                  </strong> - <%= todo.subject %>
                              <% else %>
                                  <strong> Todo ID#<%= todo.id %></strong> - <%= todo.subject %>
                              <% end %>

                              <% if todo.is_critical? %>
                                  <span class='badge bg-color-red' style='display: inline-block;'>&nbsp;&nbsp;<i class='fa fa-warning'>&nbsp;&nbsp;</i></span>
                              <% end %>

                              <span class="text-muted">
                              <%= " Assigned to " + todo.member.user.name + "." unless todo.member.nil? %>
                                <%= " Due " + todo.due_date.strftime("%m/%d/%Y") + "." unless todo.due_date.nil? %>
                                <%= todo.description %> </span>

                              <span class="date">Created <%= time_ago_in_words(todo.created_at) %> ago.</span>
                            </p>
                          </li>
                      <% end %>
                    </ul>
                </div>
              </div>
          <% end %>
        </div>
        <!-- end widget div -->
      </div>
      <!-- end widget -->

    </article>

  </div>

  <!-- end row -->

</section>
<!-- end widget grid -->

</div>

<!-- -------------------------------------------------------------------------------------------- -->


<%= render :partial => '/projects/scripts' %>
<script src="/SmartAdmin/js/plugin/fullcalendar/jquery.fullcalendar.min.js"></script>

<script>
    $(document).ready(function () {

        var calendarViewName = $.cookie('calendarView');
        if (calendarViewName == null)
            calendarViewName = 'agendaWeek';

        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        pageSetUp();


        <% if !can? :create, @project.issues.build %>
            alert("Reminder: This project is locked or closed. \n\n You cannot make further changes to it. \n\n An admin must unlock it or open it.");
        <% end %>

        <% @project.announcements.where('expires_at >= ?', Date.today).each_with_index do |a, i| %>

            $.bigBox({
                title : "<%= a.subject %>",
                content : "<%= a.body %>",
                color : "#C46A69",
                timeout: 10000,
                icon : "fa fa-warning shake animated",
                number : "<%= i.to_s %>",
                timeout : 6000
                });

        <% end %>


        <% if can? :update, @project.todos.build %>
        // initialize sortable
        $(function () {
            $("#todos").sortable({
                handle: '.handle',
                connectWith: ".todo",
                axis: 'y',
                items: 'li',
                update: function () {
                    $.ajax({
                        type: 'post',
                        data: $('#todos').sortable('serialize'),
                        dataType: 'script',
                        complete: function (request) {
                            $('#todos').effect('highlight');
                        },
                        url: '/projects/<%= @project.id %>/todos/sort'});
                    countTasks();
                }
            }).disableSelection();
        });

        $(function () {
            $("#issues").sortable({
                handle: '.handle',
                connectWith: ".todo",
                axis: 'y',
                items: 'li',
                update: function () {
                    $.ajax({
                        type: 'post',
                        data: $('#issues').sortable('serialize'),
                        dataType: 'script',
                        complete: function (request) {
                            $('#issues').effect('highlight');
                        },
                        url: '/projects/<%= @project.id %>/issues/sort'});
                    countIssues();
                }
            }).disableSelection();
        });

        // check and uncheck
        $('.todo .checkbox > input[type="checkbox"]').click(function () {
            var $this = $(this).parent().parent().parent();

            if ($(this).prop('checked')) {
                $this.addClass("complete");

                // remove this if you want to undo a check list once checked
                //$(this).attr("disabled", true);
                $(this).parent().hide();

                // once clicked - add class, copy to memory then remove and add to sortable3
                $this.slideUp(500, function () {
                    //$this.clone().prependTo("#sortable3").effect("highlight", {}, 800);
                    $this.remove();
                    countTasks();
                    console.log('todos count=' + $('#todos').find("li").size());
                    countIssues();
                    console.log('issues count=' + $('#issues').find("li").size());

                });

                // ajax update back to database
                var pk = $this.attr('data-pk');
                var resourceName = $(this).parent().parent().parent().parent().attr('id');
                //console.log(resourceName);
                var url = '/projects/<%= @project.id %>/' + resourceName + '/mark_complete/' + pk;

                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function (msg) {
                        console.log("Data Saved.");
                        $('#' + resourceName).effect('highlight');
                    }
                });


            } else {
                // insert undo code here...
            }

        });
    <% end %>


        function countTasks() {
            var c = $('#todos').find("li").size();
            if (c == 0)
                $('#badgeTodosCount').text("");
            else
                $('#badgeTodosCount').text(c);

        }

        function countIssues() {
            var c = $('#issues').find("li").size();
            if (c == 0)
                $('#badgeIssuesCount').text("");
            else
                $('#badgeIssuesCount').text(c);

        }

        if ($("#calendar").length) {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();


            var calendar = $('#calendar').fullCalendar({

                header: {
                    left: 'title',
                    center: 'month,agendaWeek,agendaDay',
                    right: 'prev,today,next'
                },

                defaultView: calendarViewName,
                viewDisplay: function( view )
                {
                    //save your cookie here, it's triggered each time the view changes
                    //console.log('changing view name to... ');
                    //console.log(view.name);
                    $.cookie('calendarView', view.name);
                },

                events: [
                    <% @project.events.each do |m| %>
                    {
                        "className": "<%= m.class_name %>",
                        "end": "<%= m.end_date %>",
                        "id":<%= m.id %>,
                        "project_id":<%= m.project_id %>,
                        "start": new Date(<%= m.start_date.strftime("%Y") %>, <%= m.start_date.strftime("%m") %>-1, <%= m.start_date.strftime("%d") %>
                                <%= ", " + m.start_time.strftime("%H,%M") unless m.start_time.nil? %>  ),

                        <% if !m.end_date.nil? %>
                        "end": new Date(<%= m.end_date.strftime("%Y") %>, <%= m.end_date.strftime("%m") %>-1, <%= m.end_date.strftime("%d") %>
                                <%= ", " + m.end_time.strftime("%H,%M") unless m.end_time.nil? %>  ),
                        <% end %>

                        'allDay':<%= m.all_day? %>,
                        "title": "<%= m.title %>",
                        "description": "<%= m.description %>",
                        "className":"<%= m.class_name %>",
                        "icon": "<%= m.icon %>"},

                    <% end %>
                ],

                eventRender: function (event, element, icon) {
                    if (!event.description == "") {
                        element.find('.fc-event-title').append("<br/><span class='ultra-light'>" + event.description + "</span>");
                    }
                    if (!event.icon == "") {
                        element.find('.fc-event-title').append("<i class='air air-top-right fa " + event.icon + " '></i>");
                    }
                }

                <% if can? :update, @project.events.build %>
                , eventClick: function (event) {
                    // opens events in a popup window
                    // alert(event.id);
                    window.location.href = '/projects/<%= @project.id %>/events/' + event.id + '/edit';
                    return false;
                }
                <% end %>
            });

        }
        ;

        /* hide default buttons */
        $('.fc-header-right, .fc-header-center').hide();

        // calendar prev
        $('#calendar-buttons #btn-prev').click(function () {
            $('.fc-button-prev').click();
            return false;
        });

        // calendar next
        $('#calendar-buttons #btn-next').click(function () {
            $('.fc-button-next').click();
            return false;
        });

        // calendar today
        $('#calendar-buttons #btn-today').click(function () {
            $('.fc-button-today').click();
            return false;
        });

        // calendar month
        $('#mt').click(function () {
            $('#calendar').fullCalendar('changeView', 'month');
        });

        // calendar agenda week
        $('#ag').click(function () {
            $('#calendar').fullCalendar('changeView', 'agendaWeek');
        });

        // calendar agenda day
        $('#td').click(function () {
            $('#calendar').fullCalendar('changeView', 'agendaDay');
        });

    });

</script>

<!-- Your GOOGLE ANALYTICS CODE Below -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
