<%= form_for [@project, @todo], :html => {:class => 'smart-form', :id => 'todo_form'} do |f| %>
    <% if @todo.errors.any? %>
        <div id="error_explanation" class='alert alert-error'>
          <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
          <h4>Ooops, <%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h4>

          <ul>
            <% @todo.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

    <% end %>


    <fieldset>
        <section>
          <label class="label">Subject</label>
          <label class="input">
            <input class='input-lg' type="text" name="todo[subject]" placeholder="Give your todo a subject..." id='todo_subject' value='<%= @todo.subject %>'>
            </label>
        </section>

      <div class='row'>
        <section class="col col-6">
          <label class="label">Due Date</label>
          <label class="input"> <i class="icon-append fa fa-calendar"></i>
            <input type="text" name="todo[due_date]" id="todo_due_date" placeholder="Due date..." value='<%= @todo.due_date.strftime("%m/%d/%Y") unless @todo.due_date.nil? %>'>
          </label>
        </section>

        <section class="col col-6">
          <label class="label">Assigned To</label>
          <label class="select">
            <%= select('todo', 'member_id', @project.members.map { |m| [m.user.name, m.id] }, {:include_blank=>' -- Unassigned'}) %>
          </label>

        </section>
      </div>

      <section>
        <label class="label">Description</label>
        <label class="textarea"><textarea rows="4" name="todo[description]" id="todo_description"><%= @todo.description %></textarea> </label>
      </section>

      <section>
        <label class="checkbox">
          <input type="checkbox" name="todo[is_critical]" id="todo_is_critical" >
          <i></i>This todo is critical!</label>
      </section>

      <section>
        <label class="checkbox">
          <input type="checkbox" name="todo[is_complete]" id="todo_is_complete" >
          <i></i>This todo is complete.</label>
      </section>

    </fieldset>

    <footer>
      <button type="submit" class="btn btn-success">
        Save
      </button>
    </footer>

<% end %>

