<style>
    .no_underscore a {
        text-decoration: none;
    }

    @media only screen and (max-width: 767px) {
        .hidden-767 {
            display: none !important;
        }
    }

    form
    {
        border: 3px solid #DDD;
        background-color: #EEE;
        padding: 20px 20px 20px 20px;
    }
</style>


<div class="navbar">

  <script type="text/javascript">
      try {
          ace.settings.check('navbar', 'fixed')
      } catch (e) {
      }
  </script>

  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="brand" href="#">
        <small><i class="icon-check"></i> HuddleUp - <%= @project.name %></small>
      </a>

      <%= render :partial => '/projects/top_nav', :locals => {:post => 'foo'} %>

    </div>
    <!--/.container-fluid-->
  </div>
  <!--/.navbar-inner-->

</div>


<div class="main-container container-fluid">
<a class="menu-toggler" id="menu-toggler" href="#">
  <span class="menu-text"></span>
</a>

<%= render :partial => '/projects/side_nav_1', :locals => {:component => 'todos', :project_id => @project.id} %>

<div class="main-content">


  <% crumbs = [['Projects', projects_path],
               [@project.name, project_path(@project)]] %>

  <%= render :partial => '/projects/breadcrumbs', :locals => {:crumbs => crumbs, :title => 'Todos'} %>

  <div class="page-content">
    <div class="page-header position-relative">
      <h1><i class="icon-list-alt"></i> Todos</h1>
    </div>
    <!--/.page-header-->

    <div class="row-fluid">
      <div class="span12">
        <!--PAGE CONTENT BEGINS-->

        <% if flash[:notice] %>
            <div class='alert alert-block alert-success'>
              <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
              <strong><i class="icon-ok"></i> <%= flash[:notice] %></strong>
            </div>
        <% end %>

        <% if @todos.count == 0 %>
            <div class='alert alert-info' style="margin-bottom: 50px;">None</div>
        <% else %>

            <ul id="tasks" class="item-list" style='padding-bottom: 10px;'>

              <% @todos.each do |todo| %>

                  <li class="clearfix task <%= get_item_color(todo) %> <%= 'selected' unless !todo.is_complete %> no_underscore" data-pk='<%= todo.id %>' data-completed="<%= todo.is_complete %>" id="task_<%= todo.id %>">

                    <span class='lbl'>
                          <% if !todo.is_complete? %>
                              <a href='/projects/<%= @project.id %>/todos/mark_complete/<%= todo.id %>'><i class='pull-left <%= get_icon(todo) %>' style='font-size:2em;'></i></a>
                          <% else %>
                              <a href='/projects/<%= @project.id %>/todos/mark_incomplete/<%= todo.id %>'><i class='pull-left <%= get_icon(todo) %>' style='font-size:2em;'></i></a>
                          <% end %>
                      <%= todo.subject %>
                    </span>&nbsp;&nbsp;

                    <span class="badge badge-grey"><%= todo.member.user.name unless todo.member.nil? %></span>

                    <div class="inline pull-right position-relative">

                      <% if !todo.is_complete? %>
                          &nbsp;
                          <button class="btn btn-mini btn-success"
                                  onclick="window.location.href='/projects/<%= @project.id %>/todos/mark_complete/<%= todo.id %>'"
                                  data-placement="left"
                                  data-rel="tooltip"
                                  title="Mark as Complete"><i class='icon-ok'></i>Complete
                          </button>
                      <% else %>
                          &nbsp;
                          <button class="btn btn-mini btn-danger"
                                  onclick="window.location.href='/projects/<%= @project.id %>/todos/mark_incomplete/<%= todo.id %>'"
                                  data-placement="left"
                                  data-rel="tooltip"
                                  title="Mark as Incomplete"><i class='icon-remove'></i>Re-Open
                          </button>
                      <% end %>
                      &nbsp;
                      <a href="/projects/<%= @project.id %>/todos/<%= todo.id %>"
                         class="btn btn-mini btn-danger"
                         data-confirm="Are you sure you want to delete <%= todo.subject %>?"
                         data-method="delete"
                         data-placement="left"
                         data-rel="tooltip"
                         rel="nofollow"
                         title="Delete">
                        <span><i class='icon-trash'></i></span>
                      </a>
                      &nbsp;
                      <button class="btn btn-mini btn-info icon-edit"
                              onclick="window.location.href='/projects/<%= @project.id %>/todos/<%= todo.id %>/edit'"
                              data-placement="left"
                              data-rel="tooltip"
                              title="Edit">
                      </button>
                      &nbsp;
                    </div>
                  </li>

              <% end %>

            </ul>

        <% end %>


        <h4>Quickly add a Todo...</h4>
        <%= render 'form' %>

      </div>
      <!--/row-->

      <!--PAGE CONTENT ENDS-->
    </div>
    <!--/.span-->
  </div>
  <!--/.row-fluid-->
</div>
<!--/.page-content-->

<div class="ace-settings-container" id="ace-settings-container">
  <div class="btn btn-app btn-mini btn-warning ace-settings-btn" id="ace-settings-btn">
    <i class="icon-cog bigger-150"></i>
  </div>

  <div class="ace-settings-box" id="ace-settings-box">
    <div>
      <div class="pull-left">
        <select id="skin-colorpicker" class="hide">
          <option data-skin="default" value="#438EB9">#438EB9</option>
          <option data-skin="skin-1" value="#222A2D">#222A2D</option>
          <option data-skin="skin-2" value="#C6487E">#C6487E</option>
          <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
        </select>
      </div>
      <span>&nbsp; Choose Skin</span>
    </div>

    <div>
      <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar"/>
      <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
    </div>

    <div>
      <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar"/>
      <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
    </div>

    <div>
      <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs"/>
      <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
    </div>

    <div>
      <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"/>
      <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
    </div>
  </div>
</div>
<!--/#ace-settings-container-->
</div><!--/.main-content-->
</div><!--/.main-container-->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
  <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>

<!-- inline scripts related to this page -->
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">

    $(function () {

        $('.date-picker').datepicker();

        $('#modal-add-form').on('shown', function () {
            $(this).find($('#todo_subject')).focus();
        });

        <% @todos.each do |todo| %>
        $('#modal-form-<%= todo.id %>').on('shown', function () {
            $(this).find("[autofocus]:first").focus();
        });
        <% end %>

        var $tooltip = $("<div class='tooltip top in' style='display:none;'><div class='tooltip-inner'></div></div>").appendTo('body');
        $('[data-rel="tooltip"]').tooltip();

        $('#tasks').sortable({
            axis: 'y',
            items: 'li',
            update: function () {
                $.ajax({
                    type: 'post',
                    data: $('#tasks').sortable('serialize'),
                    dataType: 'script',
                    complete: function (request) {
                        //$('#tasks').effect('highlight');
                    },
                    url: '/projects/<%= @project.id %>/todos/sort'})
            }
        });

        $('#tasks').disableSelection();

        $('.task').each(function () {
            var done = ($(this).attr('data-completed') == "true");
            var pk = $(this).attr('data-pk');
            if (done) {
                $(this).addClass('selected');
            }
        });

    });


</script>
