<!-- row -->
<div class="row">

  <!-- col -->
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <!-- PAGE HEADER -->
      <i class="fa-fw fa fa-check-square-o"></i>
      Todos
    </h1>
  </div>
  <!-- end col -->

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5 pull-right">
    <% if can? :create, @project.todos.build %>
        <%= link_to '<i class="fa fa-plus"></i> Create a new todo'.html_safe, new_project_todo_path(@project), :class => 'pull-right', :style=>'margin-right:22px; margin-top:10px;' %>
    <% end %>
  </div>

</div>
<!-- end row -->

<div class="col-sm-12">
  <div class="well">
    <div class="widget-body no-padding smart-form">

      <% if @todos.count == 0 %>
          None
      <% else %>

        <!-- content goes here -->
          <h5 class="todo-group-title"><i class="fa fa-exclamation"></i> Incomplete Todos (<small class="num-of-tasks"><%= @todos.where('is_complete != true or is_complete is null').count %></small>)
          </h5>
          <ul id="tasks" class="todo">
            <% @todos.where('is_complete != true or is_complete is null').each do |todo| %>
                <li data-pk='<%= todo.id %>' class='task' id="task_<%= todo.id %>">
                    <span class="handle">
                      <label class="checkbox <%= "state-disabled".html_safe if !can? :update, @project.todos.build %>">
                      <input type="checkbox" name="checkbox-inline" <%= "disabled='disabled'".html_safe if !can? :update, @project.todos.build %>>
                      <i></i> </label>
                    </span>

                    <p>
                        <% if can? :update, @project.todos.build %>
                            <strong>
                              <%= link_to 'Todo ID# ' + todo.id.to_s, edit_project_todo_path(@project, todo) %>
                            </strong> - <%= todo.subject %>
                        <% else %>
                            <strong> Todo ID#<%= todo.id %></strong> - <%= todo.subject %>
                        <% end %>

                        <% if todo.is_critical? %>
                          <span class='badge bg-color-red' style='display: inline-block;'>&nbsp;&nbsp;<i class='fa fa-warning'>&nbsp;&nbsp;</i></span>
                        <% end %>

                        <span class="text-muted">
                          <%= " Assigned to " + todo.member.user.name + "." unless todo.member.nil? %>
                          <%= " Due " + todo.due_date.strftime("%m/%d/%Y") + "." unless todo.due_date.nil? %>
                          <%= todo.description %> </span>
                        <span class="date">Created <%= time_ago_in_words(todo.created_at) %> ago.</span>
                        <span class='date'>
                          <% todo.categories.each do |c| %>
                            <%= c.name %>,
                          <% end %>
                        </span>
                    </p>
                </li>
            <% end %>
          </ul>

          <h5 class="todo-group-title"><i class="fa fa-check"></i> Completed Todos (<small class="num-of-tasks"><%= @todos.where('is_complete=true').count %></small>)
          </h5>
          <ul id="sortable3" class="todo">
            <% @todos.where('is_complete=true').each do |todo| %>
                <li class="complete">
                    <span class="handle" style="display:none"> <label class="checkbox state-disabled">
                        <input type="checkbox" name="checkbox-inline" checked="checked" disabled="disabled">
                        <i></i> </label> </span>

                    <p>
                      <% if can? :update, @project.todos.build %>
                          <strong>
                            <%= link_to 'Todo ID# ' + todo.id.to_s, edit_project_todo_path(@project, todo) %>
                          </strong> - <%= todo.subject %>
                      <% else %>
                          <strong> Todo ID#<%= todo.id %></strong> - <%= todo.subject %>
                      <% end %>

                        <% if todo.is_critical? %>
                          <span class='badge bg-color-grey' style='display: inline-block;'>&nbsp;&nbsp;<i class='fa fa-warning'>&nbsp;&nbsp;</i></span>
                        <% end %>

                        <span class="text-muted"><%= "Assigned to " + todo.member.user.name + "." unless todo.member.nil? %> <%= todo.description %> </span>
                        <span class="date">Created <%= time_ago_in_words(todo.created_at) %> ago.</span>
                    </p>
                </li>
            <% end %>
          </ul>

          <!-- end content -->
      <% end %>
    </div>
  </div>
</div>

<%= render :partial => '/projects/scripts' %>

<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

        <% if can? :update, @project.todos.build %>
            // initialize sortable
            $(function () {
                $("#tasks").sortable({
                    handle: '.handle',
                    connectWith: ".todo",
                    axis: 'y',
                    items: 'li',
                    update: function () {
                        $.ajax({
                            type: 'post',
                            data: $('#tasks').sortable('serialize'),
                            dataType: 'script',
                            complete: function (request) {
                                $('#tasks').effect('highlight');
                            },
                            url: '/projects/<%= @project.id %>/todos/sort'});
                        countTasks();
                    }
                }).disableSelection();
            });
        <% end %>

        <% if can? :update, @project.todos.build %>
            // check and uncheck
            $('.todo .checkbox > input[type="checkbox"]').click(function () {
                var $this = $(this).parent().parent().parent();

                if ($(this).prop('checked')) {
                    $this.addClass("complete");

                    // remove this if you want to undo a check list once checked
                    //$(this).attr("disabled", true);
                    $(this).parent().hide();

                    // once clicked - add class, copy to memory then remove and add to sortable3
                    $this.slideUp(500, function () {
                        $this.clone().prependTo("#sortable3").effect("highlight", {}, 800);
                        $this.remove();
                        countTasks();
                    });

                    // ajax update back to database
                    var pk = $this.attr('data-pk');
                    var url = '/projects/<%= @project.id %>/todos/mark_complete/' + pk;
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: { _method:'PUT' },
                        success: function(msg) {
                            console.log( "Data Saved: " + msg );
                        }
                    });
                } else {
                    // insert undo code here...
                }

            });
        <% end %>

        // count tasks
        function countTasks() {

            $('.todo-group-title').each(function () {
                var $this = $(this);
                $this.find(".num-of-tasks").text($this.next().find("li").size());
            });

            var c = 0;
            $('.todo-group-title').each(function () {
                var $this = $(this);
                if ($this.next().attr('id') != 'sortable3')
                    c += $this.next().find("li").size();
            });

            if (c == 0)
                $('#badgeTodosCount').text("");
            else
                $('#badgeTodosCount').text(c);

        }

    });

</script>



<!-- Your GOOGLE ANALYTICS CODE Below -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>

