<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">


      <a class="brand" href="#">
        <small><i class="icon-check"></i> HuddleUp</small>
      </a>

      <%= render :partial => '/projects/top_nav', :locals => { :post => 'hello' } %>

    </div><!--/.container-fluid-->
  </div><!--/.navbar-inner-->
</div>


<div class="container-fluid" id="main-container">
  <a href="#" id="menu-toggler"><span></span></a><!-- menu toggler -->

  <%= render :partial => '/projects/side_nav_1', :locals => {:component => 'todos', :project_id => @project.id } %>

  <div id="main-content" class="clearfix">

    <% crumbs = [['Projects', projects_path],
                 [@project.name, project_path(@project)],
                 ['Todos', project_todos_path(@project)]] %>

    <%= render :partial => '/projects/breadcrumbs', :locals => {:crumbs => crumbs, :title => 'Create a new todo'} %>

    <div id="page-content" class="clearfix">

      <div class="page-header position-relative">
        <h1><i class="icon-list"></i> Create a new todo <small><i class='icon-double-angle-right'> <%= @project.name %></i></small></h1>
      </div>
      <!--/page-header-->


      <div class="row-fluid">

        <!-- PAGE CONTENT BEGINS HERE -->

        <div class="space-6"></div>
        <div class="row-fluid">

          <div class="span6">
            <div class="widget-box transparent">

              <div class="widget-body">
                <div class="widget-main padding-5">
                  <div class="tab-content padding-8">

                    <!-- BEGIN -->

                    <%=  render 'form' %>

                    <!-- END -->

                  </div>
                </div>
                <!--/widget-main-->
              </div>
              <!--/widget-body-->


            </div>
            <!--/widget-box-->
          </div>
          <!--/span-->

        </div>
        <!--/row-->

        <!-- PAGE CONTENT ENDS HERE -->


      </div>
      <!--/row-->

    </div>
    <!--/#page-content-->


  </div>
  <!-- #main-content -->


</div>
<!--/.fluid-container#main-container-->


<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
  <i class="icon-double-angle-up icon-only"></i>
</a>


<!-- inline scripts related to this page -->

<script type="text/javascript">

    $(function () {

        $('.dialogs,.comments').slimScroll({
            height: '300px'
        });

        $('.date-picker').datepicker();

        $(".chzn-select").chosen();

        var oldie = $.browser.msie && $.browser.version < 9;

        var $tooltip = $("<div class='tooltip top in' style='display:none;'><div class='tooltip-inner'></div></div>").appendTo('body');
        $('[data-rel="tooltip"]').tooltip();

    });


</script>
