<!-- row -->
<div class="row">

  <!-- col -->
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
      <!-- PAGE HEADER -->
      <i class="fa-fw fa fa-check-square-o"></i>
      Todos
    </h1>
  </div>
  <!-- end col -->

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-5 pull-right">
    <%= link_to 'Create a new todo', new_project_todo_path(@project), :class => 'btn btn-success btn-lg pull-right header-btn' %>
  </div>

</div>
<!-- end row -->

<div class='row'>

  <div class="col-sm-12 col-md-12 col-lg-9">

    <!-- new widget -->
    <div class="jarviswidget jarviswidget-color-blueDark">

      <header>
        <h2> By Due Date </h2>
        <div class="widget-toolbar">
          <div class="btn-group">
            <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
              Showing <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu js-status-update pull-right">
              <li>
                <a href="javascript:void(0);" id="mt">Month</a>
              </li>
              <li>
                <a href="javascript:void(0);" id="ag">Week</a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <!-- widget div-->
      <div>
        <div class="widget-body no-padding">
          <!-- content goes here -->
          <div class="widget-body-toolbar">

          </div>
          <div id="calendar"></div>

          <!-- end content -->
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-3">
    <!-- new widget -->
    <div class="jarviswidget jarviswidget-color-blueDark">
      <header>
        <h2> Unscheduled </h2>
      </header>

      <!-- widget div-->
      <div id='event-container'>

        <ul id='external-events' class="list-unstyled">
          <% @todos.where('due_date is null').each do |m| %>
              <li>
                <span data-id="<%= m.id %>" class="bg-color-blue txt-color-white"><%= m.subject %></span>
              </li>
          <% end %>
        </ul>

      </div>
      <!-- end widget div -->
    </div>
    <!-- end widget -->
  </div>

</div>



<%= render :partial => '/projects/scripts' %>
<script src="/SmartAdmin/js/plugin/fullcalendar/jquery.fullcalendar.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        pageSetUp();

        "use strict";

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var hdr = {
            left: 'title',
            center: 'month,agendaWeek,agendaDay',
            right: 'prev,today,next'
        };

        var initDrag = function (e) {
            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
            // it doesn't need to have a start or end

            var eventObject = {
                id: $.trim(e.children('span').attr('data-id')),
                title: $.trim(e.children().text()), // use the element's text as the event title
                description: $.trim(e.children('span').attr('data-description')),
                icon: $.trim(e.children('span').attr('data-icon')),
                className: $.trim(e.children('span').attr('class')) // use the element's children as the event class
            };
            // store the Event Object in the DOM element so we can get to it later
            e.data('eventObject', eventObject);

            // make the event draggable using jQuery UI
            e.draggable({
                zIndex: 999,
                revert: true, // will cause the event to go back to its
                revertDuration: 0 //  original position after the drag
            });
        };

        /* initialize the external events
         -----------------------------------------------------------------*/

        $('#external-events > li').each(function () {
            initDrag($(this));
        });

        /* initialize the calendar
         -----------------------------------------------------------------*/

        $('#calendar').fullCalendar({

            header: hdr,
            buttonText: {
                prev: '<i class="fa fa-chevron-left"></i>',
                next: '<i class="fa fa-chevron-right"></i>'
            },

            defaultView: 'basicWeek',

            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar !!!

            drop: function (date, allDay) { // this function is called when something is dropped

                // retrieve the dropped element's stored Event Object
                var originalEventObject = $(this).data('eventObject');

                // we need to copy it, so that multiple events don't have a reference to the same object
                var copiedEventObject = $.extend({}, originalEventObject);

                // assign it the date that was reported
                copiedEventObject.start = date;
                copiedEventObject.allDay = allDay;

                //console.log('dropped ' + copiedEventObject.title + ' (id=' + copiedEventObject.id + ') on ' + date);
                //console.log('TODO push ajax update here.')
                $.post( "/projects/<%= @project.id %>/todos/" + copiedEventObject.id + "/set_due_date", { id: copiedEventObject.id, due_date: date } );

                // render the event on the calendar
                // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                $(this).remove();

            },

            events: [
                <% @todos.where('due_date is not null').each do |m| %>
                {   "id":<%= m.id %>,
                    "start": new Date(<%= m.due_date.strftime("%Y") %>, <%= m.due_date.strftime("%m") %>-1, <%= m.due_date.strftime("%d") %>),
                    "title": "<%= m.subject %>",
                    'is_complete': <%= m.is_complete? %>,
                    'is_late': <%= m.due_date < Date.today && !m.is_complete %>,
                    <% if m.due_date < Date.today && !m.is_complete %>
                    <% lClass = 'bg-color-red' %>
                    <% else %>
                    <% lClass = 'bg-color-greenLight' %>
                    <% end %>
                    'className':'<%= lClass %>' },
                <% end %>
            ],

            eventRender: function (event, element, icon) {
                if (event.is_complete)
                    element.find('.fc-event-title').prepend("<i class='air air-top-right fa fa-check-square-o'></i>");
                else
                    element.find('.fc-event-title').prepend("<i class='air air-top-right fa fa-square-o'></i>");
            },

            eventClick: function (event) {
                // opens events in a popup window
                // alert(event.id);
                window.location.href = '/projects/<%= @project.id %>/todos/' + event.id + '/edit';
                return false;
            },

            windowResize: function (event, ui) {
                $('#calendar').fullCalendar('render');
            }

        });

        /* hide default buttons */
        $('.fc-header-right, .fc-header-center').hide();


        $('#calendar-buttons #btn-prev').click(function () {
            $('.fc-button-prev').click();
            return false;
        });

        $('#calendar-buttons #btn-next').click(function () {
            $('.fc-button-next').click();
            return false;
        });

        $('#calendar-buttons #btn-today').click(function () {
            $('.fc-button-today').click();
            return false;
        });

        $('#mt').click(function () {
            $('#calendar').fullCalendar('changeView', 'month');
        });

        $('#ag').click(function () {
            $('#calendar').fullCalendar('changeView', 'basicWeek');
        });

        $('#td').click(function () {
            $('#calendar').fullCalendar('changeView', 'agendaDay');
        });

    });

</script>

