<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">


      <a class="brand" href="#">
        <small><i class="icon-check"></i> HuddleUp</small>
      </a>

      <%= render :partial => '/projects/top_nav', :locals => { :post => '' } %>

    </div>
    <!--/.container-fluid-->
  </div>
  <!--/.navbar-inner-->
</div>


<div class="container-fluid" id="main-container">
  <a href="#" id="menu-toggler"><span></span></a><!-- menu toggler -->

  <%= render :partial => '/projects/side_nav_1', :locals => {:component => 'members', :project_id => @project.id } %>


  <div id="main-content" class="clearfix">

    <% crumbs = [['Projects', projects_path],
                 [@project.name, project_path(@project)]] %>

    <%= render :partial => '/projects/breadcrumbs', :locals => {:crumbs => crumbs, :title => 'Members'} %>

    <div id="page-content" class="clearfix">

      <div class="page-header position-relative">
        <h1><i class="icon-group"></i> Members <small><i class='icon-double-angle-right'> <%= @project.name %></i></small></h1>
      </div>
      <!--/page-header-->


      <div class="row-fluid">

        <!-- PAGE CONTENT BEGINS HERE -->

        <div class="space-6"></div>
        <div class="row-fluid">

          <div class="span12">
            <div class="widget-box transparent">

              <div class="widget-body">
                <div class="widget-main padding-5">
                  <div class="tab-content padding-8">

                    <!-- BEGIN -->

                    <% if flash[:notice] %>
                        <div class='alert alert-block alert-success'>
                          <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
                          <strong><i class="icon-ok"></i> <%= flash[:notice] %></strong>
                        </div>
                    <% end %>

                    <div id="member-tab" class="tab-pane active" style='margin-bottom: 100px;'>
                      <div class="clearfix">

                        <% @members.each do |member| %>

                            <div class="itemdiv memberdiv">
                              <div class="user">
                                <%= image_tag('avatar2.png') %>
                              </div>

                              <div class="body">
                                <div class="name"><a href="#"><%=  member.user.name %></a></div>
                                <div class="time"><i class="icon-time"></i> <span class="green"><%= time_ago_in_words(member.joined_date) %> ago</span></div>
                                <% if member.is_admin? %>
                                    <div class="label label-info">Admin</div>
                                <% end %>
                                <div class="label label-success">Active</div>
                                <div class="inline position-relative">
                                  <button class="btn btn-minier bigger btn-grey dropdown-toggle" data-toggle="dropdown"><i class="icon-angle-down icon-only"></i></button>
                                  <ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
                                    <li><a href="#" class="tooltip-success" data-rel="tooltip" title="Approve" data-placement="right"><span class="green"><i class="icon-ok"></i></span></a></li>
                                    <li><a href="#" class="tooltip-warning" data-rel="tooltip" title="Reject" data-placement="right"><span class="orange"><i class="icon-remove"></i></span> </a></li>
                                    <li><a href="#" class="tooltip-error" data-rel="tooltip" title="Delete" data-placement="right"><span class="red"><i class="icon-trash"></i></span> </a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                        <% end %>

                      </div><!-- member-tab -->

                      <!-- END -->

                    </div>
                    <!-- END -->

                  </div>
                </div>
                <!--/widget-main-->
              </div>
              <!--/widget-body-->


            </div>
            <!--/widget-box-->
          </div>
          <!--/span-->

          <a class='btn btn-success' href="/projects/<%= @project.id %>/invitations/new">Invite a new member</a>
        </div>
        <!--/row-->

        <!-- PAGE CONTENT ENDS HERE -->


      </div>
      <!--/row-->

    </div>
    <!--/#page-content-->


  </div>
  <!-- #main-content -->


</div>
<!--/.fluid-container#main-container-->


<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
  <i class="icon-double-angle-up icon-only"></i>
</a>


<!-- inline scripts related to this page -->

<script type="text/javascript">

    $(function () {

        $('.dialogs,.comments').slimScroll({
            height: '300px'
        });

        $('.date-picker').datepicker();

        $(".chzn-select").chosen();

        var oldie = $.browser.msie && $.browser.version < 9;

        var $tooltip = $("<div class='tooltip top in' style='display:none;'><div class='tooltip-inner'></div></div>").appendTo('body');
        $('[data-rel="tooltip"]').tooltip();

    });

</script>