<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @member.user_id %>
</p>

<p>
  <b>Project:</b>
  <%= @member.project_id %>
</p>

<p>
  <b>Joined date:</b>
  <%= @member.joined_date %>
</p>

<p>
  <b>Status code:</b>
  <%= @member.status_code %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
